[2012-08-08 01:18] stovak opened #11 "GitData => Tree issue"
the github api is expecting an array of objects when creating a tree. Your script checks for array with a single level and you get an "internal server error". I removed the checks and and sent something like this:

[code]

and github was much happier.

[2012-08-20 19:21] #11 closed, assigned to nobody

[2012-09-03 05:36] cordoval opened #13 "post something with body => $comment and $comment = <<<EOF % EOF;"
post something with body => $comment and $comment = <<<EOF % EOF;

and see how sky touches ground

I think is github's fault but maybe i could be wrong

[2012-10-24 10:56] Hounddog opened #14 "Get the list of repositories for the current user"
Hi, checking for the code i have not found a way to get a list of repositories for the current user which is described in the api like /user/repos?access_token=xyz for example.

[2012-10-24 18:37] #14 closed, assigned to nobody

[2012-10-25 08:25] #13 closed, assigned to nobody

[2012-10-31 11:22] m4tthumphrey opened #15 "Confusion over authenticate()"
Should this not work?

[code]

Whenever I try a request such as

[code]

I get a `Bad Credentials` error. I have tested the token in a simple browser GET request and it returns as expected.... What am I missing?

Edit: After a about an hour on this I noticed a typo in the token. What a joke.

[2012-10-31 11:26] #15 closed, assigned to nobody

[2012-11-13 17:22] m4tthumphrey opened #19 "Model usage"
Do you have any plans to add a model/OO interface to this? For example:

[code]

I have been making these sort of classes (using the original `Api\*` objects underneath) since starting this new project, and decided to factor it in to my fork. So if you are planning something like this, let me know.

[2012-12-20 22:14] dustinboston opened #23 "Can't authenticate with AUTH_URL_CLIENT_ID"
Hi there, I'm just getting started with php-github-api but can't figure out how to make it auth. I created a file, required the autoload.php, verified that it works and then added the following two lines:

[code]

I expected that I when I ran the page I would get redirected to the GitHub login page, but nothing happens. No request is made to GitHub, the page is not redirected, and if I make a call

[2012-12-21 11:12] #23 closed, assigned to nobody

[2012-12-28 23:32] jonphipps opened #24 "Request_any_route no longer possible?"
https://github.com/KnpLabs/php-github-api/blob/master/doc/request_any_route.md states that any route can be requested, but this commit: https://github.com/KnpLabs/php-github-api/commit/9d2e680541f0ade8863c12c0a436fa20649a7a28 removed that capability.

Has it been replaced with another method? It was nice to have for the rare bits of the API not yet covered.

[2012-12-29 08:26] #24 closed, assigned to nobody

[2013-01-04 15:35] simonvdd opened #25 "Unable to list private repos for my organization"
The following code:

[code]

only returns the public repos of my organization.

When the following code:

[code]

returns all the repositories for my organization.

So I guess there is a problem with the authentication listener.

[2013-01-04 16:47] #25 closed, assigned to nobody

[2013-01-12 05:51] jakiestfu opened #27 "Cannot utilize cache"
My apologies for asking what seems like such a trivial question, but I cannot use the cache functionality. "Class 'CachedHttpClient' not found", I don't believe the autoloader is loading everything? Any suggestions?

[code]

[2013-01-12 17:26] #27 closed, assigned to nobody

[2013-02-05 17:07] dovy opened #31 "Simple Repo Listing?"
I've can't find any documentation for just listing the contents of a given directory of a repo. Does this even exist? I know I can do the request any route, but that object isn't exactly clean.  ;)

[2013-02-09 17:41] #31 closed, assigned to nobody

[2013-03-19 16:48] gquemener opened #37 "Cached Client still decrementing X-RateLimit-Remaining"
@docteurklein it seems that either you or Github have a problem here!

See, https://github.com/KnpLabs/sylius.com/pull/56

And now, fight!

[2013-03-20 13:25] #37 closed, assigned to nobody

[2013-03-23 15:07] thenetexperts opened #39 "GitHub api changes watched => subscriptions"
see http://developer.github.com/changes/2012-9-5-watcher-api/ for more info

it should suffice to change api call from 'user/watched' to 'user/subscriptions'

[2013-04-02 05:12] dbu opened #41 "pagination"
i queried repositories from github organisation and hit the pagination limit (when more than 30 results would be found, you just get a first page). the only mention about pagination i find in the code is in Github/HttpClient/Message/Response.php and its never called as far as i can see.

any ideas how i could handle this? i am happy to do a pull request to improve the situation, but would love to

[2013-04-04 11:10] cgfmedia opened #42 "Argument 2 passed to Github\Api\Repo::find() must be of the type array, none given"
When i type this ..

$client = new Github\Client();
 $client->api('repo')->find('appwiz');

it give me this error

[2013-04-04 12:29] cgfmedia opened #43 "Blob documentation"
Please update the documentations of BLOB git data

[2013-04-08 08:08] cgfmedia opened #45 "Server error on creating tree"
I m creating a tree .
    $treeData = array('base_tree'=>$basetree['tree'][1]['sha'],'tree'=>
            array(  'path'=>'welcome.txt'
                    ,'mode'=>'100644'
                    ,'type'=>'blob'
                    ,'sha'=>$newBlob['sha']
            )
    );
this ling give me server error

[2013-04-24 16:41] njam opened #47 "`user_agent`-option is not sent as HTTP header"
I think Github returns `403` now if no  `User-Agent` is set:

[code]

[2013-04-30 14:01] lukeocodes opened #51 "Support for older php?"
I am having difficulty introducing this library into my framework. I have yet to move to namespaces and on including and calling the library I get a list of errors from my autoloader not knowing what to do with namespaces.

My autoloader is as follows... I use it for loading models only. Libs are included manually. I'm not using composer either.

[code]

I'm initialising the API here...

[code]

A

[2013-05-26 21:27] sagotsky opened #56 "Repo API's hooks()->create() doesn't like my name field."
Hi.  I'm trying to add a service hook programmatically using the following code:

[code]

This gives me:

[code]

When I remove the name parameter I get an error that it's missing, as expected.

Not sure how to make this work since the name field causes errors no matter what I do with it.

[2013-05-28 18:38] #56 closed, assigned to nobody

[2013-06-16 13:51] sagotsky opened #59 "[Feature request] Could you implement edit for issue comments?"
http://developer.github.com/v3/issues/comments/#edit-a-comment

[2013-06-26 07:26] mattwkelly opened #60 "Comment creation not working"
I'm getting a 404 Not Found, but it's working fine with curl (debug pasted below).

Here's what I'm using: $client->api('issue')->comments()->create('mattwkelly', 'test', 1, array('body' => 'My new comment'));

Here's the PHP debug:

[code]

---

curl:

[code]

[2013-08-02 10:18] felixcheruiyot opened #64 "Best way to use authentication and security"
What is the best way to implement and use authentication functions. Cannot get it working. Please see how I am implementing it [here](http://stackoverflow.com/questions/18013593/github-authentication-using-php-github-api)

What should be the expected response after calling:
    `$auth= $client->authenticate('myclientid','mysecret',AUTH_URL_CLIENT_ID);`

Thanks

[2013-08-19 18:13] A973C opened #68 "How to use pagination with Gists?"
Hi!

Sorry if my question is stupid but I don't understand how to use pagination with a specific user Gists list.

Could you please provide me a full working example?

Thank you so much!

[2013-08-23 17:57] matthewsimo opened #71 "getHttpClient()->get() returning "remainingCalls": null"
So, I'm following the docs outlined [here](https://github.com/KnpLabs/php-github-api/blob/master/doc/request_any_route.md) about requesting any route.

I'm trying to request some of the newer github endpoints, for events and stuff. `repos/:owner/:repo/issues/events` - http://developer.github.com/v3/issues/events/#list-events-for-a-repository

No matter what url I try for (even getting a user or a

[2013-09-06 13:29] cgfmedia opened #73 "'Github\Exception\RuntimeException' with message '<'"
i m just creating blob  raw data with base 64

[2013-09-09 08:53] seekerquoc opened #74 "add document use GITDATA"
Please add document use GITDATA

[2013-09-25 06:32] #68 closed, assigned to nobody

[2013-10-15 21:30] lusever opened #77 "Status 404 for files with multiple spaces"
Example:

[code]

But link https://api.github.com/repos/mads379/scala.tmbundle/contents/Syntaxes/Simple%20Build%20Tool.tmLanguage is work.

This occurs because lib generate the request:
`/repos/mads379/scala.tmbundle/contents/Syntaxes%2FSimple+Build+Tool.tmLanguage`

Solution:
Use `rawurlencode` instead of `urlencode` for all urls.

[2013-10-16 09:31] #77 closed, assigned to nobody

[2013-11-02 21:11] #41 closed, assigned to nobody

[2013-11-02 21:25] #51 closed, assigned to nobody

[2013-11-02 21:25] #73 closed, assigned to nobody

[2013-11-02 21:28] #45 closed, assigned to nobody

[2013-11-02 21:29] #64 closed, assigned to nobody

[2013-11-03 00:27] davidsteinsland opened #82 "Undefined variable"
See:
https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/HttpClient/HttpClient.php#L45

`$options['base_url']` should be `$this->options['base_url']`, right?

[2013-11-03 14:50] #82 closed, assigned to nobody

[2013-11-03 16:23] foxp2 opened #83 "Warning: fopen({"per_page":100}): failed to open stream: Invalid argument"
in Symfony\vendor\guzzle\guzzle\src\Guzzle\Http\Message\Request.php line 438

my code : https://github.com/foxp2/projects/blob/master/foxp2projects/Symfony/src/foxp2/backofficeBundle/Controller/ProfilController.php#L293

[2013-11-05 20:17] #83 closed, assigned to nobody

[2013-11-12 08:19] kasperg opened #85 "Release asset upload support"
I am looking for a way to [upload assets to a release](http://developer.github.com/v3/repos/releases/#upload-a-release-asset) but there is no `create()` method available in [the Asset class](https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Repository/Assets.php).

Is there a reason for this or just an opportunity to contribute?

[2013-11-13 23:41] #85 closed, assigned to nobody

[2013-11-15 17:00] reydelleon opened #88 "Bad credentials"
Hi,
Thanks for your hard work. It's really a blessing to have this project.
I'm having the error in title when trying to access user data after having authenticated the client. Lets post the code to explain better:

This is the line where authentication occurs. `$assc_service->getServiceUid()` returns the client ID (a number, not login that I retrieved from Github using HWIOAuthBundle) which so fa

[2013-11-15 17:48] #88 closed, assigned to nobody

[2013-11-19 16:39] juriansluiman opened #89 "Errors + warnings when client used with cache"
If I replace the client with a cached http client, I get a php notice and an exception is thrown.

Old:

[code]

New:

[code]

I get a notice:

And the exception:

[code]

With the "normal" client all works fine, swapping the cached http client does trigger both. I am using php 5.3.14.

[2013-11-25 19:04] morozov opened #93 "Unable to retrieve pull request diff"
The following code snippet is supposed to produce the pull reques diff. It used to work a while ago but now it doesnt.

[code]

The point is that [here](https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/HttpClient/HttpClient.php#L66) default `Accept` header is appepended with custom but not overridden, thus both of them are sent.

Default `User-Agent` and `Accept` headers should be

[2013-11-27 01:16] #93 closed, assigned to nobody

[2013-11-27 14:15] cursedcoder opened #95 "Headers aren't set correctly"
Extracted from #93
Headers should not be merged in `setHeaders` or should be set with keys

[2013-11-29 04:36] #95 closed, assigned to nobody

[2013-11-30 21:15] #47 closed, assigned to nobody

[2013-12-07 10:25] #89 closed, assigned to nobody

[2013-12-07 10:25] #60 closed, assigned to nobody

[2013-12-14 22:43] #71 closed, assigned to nobody

[2014-01-04 01:17] cordoval opened #107 "criteria for tagging and insight assessment"
i wonder what is the criteria for tagging this repo and if we can do it or
my question would be (currently insightsensiolabs is giving a warning because i do not specify a version but rather *) what is a work around to not request a version here.

If we use semver i think some bugs would be tagged as 1.0.1 or such, but i don't see many releases. So could you please try to implement a tagging polic

[2014-01-04 01:59] #107 closed, assigned to nobody

[2014-01-04 10:40] cordoval opened #108 "tag it please, not just alias branched"
can i ask a big favor? on knplabs/github-api?
i am having a big of a nightmare related to a similar problem to this https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/196
basically requiring the 1.3.x-dev in any way gives problems
1.3.*@dev, 1.3.x-dev, ~1.3@dev, everything gives problems
even dev-master@dev
if there was a tag like 1.3.0 or 1.2.9
would make life easier
i need the

[2014-01-05 05:05] #108 closed, assigned to nobody

[2014-01-07 23:03] lyrixx opened #110 "Impossible to remove a repository"
The API responds "Not found". But the repository exists...

[2014-01-08 18:25] #110 closed, assigned to nobody

[2014-01-09 20:09] cursedcoder opened #111 "Scopes support"
Using OAuth authentication impossible to delete repo and some other actions.

http://developer.github.com/v3/oauth/#scopes

Extracted from #110.

[2014-01-10 12:01] cordoval opened #112 "support for 2fa = 2 factor authentication"
hi i wonder if the repo currently support this or if is somehow planned

thanks

[2014-01-17 16:04] #111 closed, assigned to nobody

[2014-01-31 09:45] #39 closed, assigned to nobody

[2014-01-31 13:46] #42 closed, assigned to nobody

[2014-01-31 15:57] #59 closed, assigned to nobody

[2014-02-03 19:26] BillKeenan opened #115 "test title"
test body

[2014-02-06 15:53] #115 closed, assigned to nobody

[2014-02-12 14:23] zanmoskotevc opened #116 "archive() returns an error when using cache."
Hello.

I'm using your package with Laravel and when using cache I get an error trying to call the archive() function of the Contents API.

**Code:**

[code]

[code]

**Error:**
`Guzzle\Http\Message\Response::serialize() must return a string or NULL`

![image](https://f.cloud.github.com/assets/630728/2149178/eadb8ab8-93f0-11e3-8042-a323f8af5039.png)

Am I doing something wrong or is this a bug?
Ot

[2014-02-19 05:58] primergrey opened #118 "Miscellaneous Endpoints"
I just added the Meta endpoint to my local version of php-github-api and was wondering if you folks had any interest in integrating a full section for the miscellaneous endpoints. If so I can cook that up shortly and send a pull request.

[2014-02-22 14:05] till opened #122 "Pagination"
It seems like pagination is often not supported, or requires the developer to extend/override and reimplement lots of code.

E.g. I was looking at various things for organization management and most of the methods don't seem to support setting a page or return the necessary info currently.

I looked into iterators in guzzle, but it seems like that requires a web service client and what not.

Do yo

[2014-03-20 13:00] seriousManual opened #125 "find: second argument must be of type array"
The documentation (https://github.com/KnpLabs/php-github-api/blob/master/doc/repos.md#simple-search) states the following usage of the `repo` endpoint:

[code]

[2014-05-09 18:54] jasonvarga opened #130 "Delete a folder or multiple files"
Would it be possible to add a way to delete the contents of a folder?
Alternatively, a way to delete multiple files in one commit?

[2014-05-23 18:23] amikheychik opened #133 "Pagination doesn't work correctly when CachedHttpClient is used"
Trying to request organization repos. First run return all `101` repos, second run returns `100` only. After turning off the cache it runs correct all the time.

[2014-05-24 20:42] Kerumen opened #134 "Update repo throw exception"
Hi,

When trying to update a repo via the method :
[code]
We got an exception :
[code]
We are of course authenticated and the exception is thrown whatever the repo type is (public/private).

[2014-06-14 18:43] lyrixx opened #139 "It's time to release 1.3.0"
Hi.

The last release was done on 2014-06-02...
Can you tag a new release?
Thanks...

[2014-06-20 10:03] Nek- opened #142 "Missing milestone api"

[2014-06-20 10:03] Nek- opened #143 "Missing complete gist api for the current user"

[2014-06-20 23:36] dtrenz opened #145 "Unable to list private repos using client ID/secret from organization application"
I'm trying to auth using the client_id & client_secret for an organization application:

[code]

Then I'm trying to list all repos for the organization that this application belongs to:

[code]

Unfortunately, I only get back a list of public repos for this organizations. How do I see private repos?

[2014-06-29 22:22] kbariotis opened #149 "Strange network behavior"
Using this
[code]

the browser(Chrome latest) shows message:
[code]

Do i do something wrong?

[2014-06-30 19:17] dtrenz opened #150 "Add support for downloading assets"
Github API documentation here: https://developer.github.com/v3/repos/releases/#get-a-single-release-asset

[2014-07-01 09:33] stof opened #151 "Add support for the combined status API"
See https://developer.github.com/v3/repos/statuses/#get-the-combined-status-for-a-specific-ref

[2014-07-04 01:52] mzampetti0264 opened #153 "Add support for 'filter' parameter for Organization->members()"
Need to add support for the "filter" parameter when retrieving the list of members for an Organization. This is so one can retrieve the list of members that have 2fa disabled on their accounts. See https://developer.github.com/v3/orgs/members/#members-list

[2014-07-07 06:54] #112 closed, assigned to pzaloznyi

[2014-07-07 06:56] #145 closed, assigned to nobody

[2014-07-07 07:07] #139 closed, assigned to nobody

[2014-07-16 16:37] jorsermar opened #156 "I cannot access to the privates repos in my organisation"
Hi there,
I've created an oauth app from my organisation, I create the client and try to retrieve the full list of repos

[code]

But then i only can access publics repos. I've read issues #145 and #25 but neither solutions solve my issue. Any clues?

[2014-07-16 16:44] #156 closed, assigned to nobody

[2014-07-23 14:39] cmfcmf opened #157 "Update to Guzzle 5 or 6"
https://github.com/guzzle/guzzle/blob/master/UPGRADING.md#3x-to-40

(most notably, Guzzle 4 does not need cURL anymore).

[2014-07-27 17:18] jbrooksuk opened #162 "Get full file contents?"
I'm trying to get the full contents for a file on a pull-request. I have each file's SHA, but when I call `contents()->download()` it's only giving me the diff content.

How do I get the full contents?

[2014-07-27 18:11] #162 closed, assigned to nobody

[2014-07-31 11:24] fabre-thibaud opened #164 "Remove constructor declaration from ApiInterface"
Interfaces should not contain constructor (in spite of PHP's oddity), as implementors are forced into a design they do not necessarily want to adopt (ie. I want to create an ApiInterface decorator that takes another ApiInterface as constructor arg instead of a Github client...)

Additionally, the constraint is enforced by AbstractApi's constructor for those classes deriving from it.

[2014-07-31 14:23] #164 closed, assigned to nobody

[2014-07-31 23:01] #122 closed, assigned to nobody

[2014-08-01 11:13] cmfcmf opened #169 "Add teams of current user enpoint to CurrentUser api."
See https://developer.github.com/v3/orgs/teams/#list-user-teams.

[2014-08-01 14:24] #133 closed, assigned to nobody

[2014-08-01 17:43] aztech-dev opened #170 "Add PHP code sniffer to build"
Since you guys seem to have well defined coding standards, have you considered using [phpcs](https://packagist.org/packages/squizlabs/php_codesniffer) to enforce them (and invalidate builds that dont respect them) ?

[2014-08-06 22:16] gj1118 opened #171 "followers pagination"
Hi,
I think the pagination is not working when I am tying to get all the users following a user. I am always getting the default number of users (30) and the page is always the first page. Is there something that I am missing.

thanks

[2014-08-15 09:25] ArniDzhan opened #175 "Get all comments per repository"
Hi,
my case is to get all comments per organization (from all issues from all repos)
One of the ways I was looking into is using this function to get all issue comments per repo
[code]
But it doesn't work as expected coz code below ads a '/' after 'comments' even if 3-rd parameter is empty.

file: API\Issue\Comments.php  line 45

[code]

I suggest using a simple conditional statement.

Code before

[2014-08-18 20:42] stof opened #177 "IDE friendly API"
It would be great if the different sub-APIs could be exposed through dedicated methods in the main client rather than having to use `->api('issues')` which breaks any kind of autocompletion or type checks on the library usage.

[2014-08-21 01:00] stof opened #178 "Missing search API"
Supporting the search API would be great. It is very powerful: https://developer.github.com/v3/search/

[2014-08-21 06:50] jbrooksuk opened #179 "Include organization repos in current_user API"
Is it possible to also pull back organizational repositories in the following code:

[code]

This is just bringing back the users own repositories, or those they're a collaborator on, but none included in organizations.

[2014-08-21 20:10] #177 closed, assigned to nobody

[2014-08-25 00:14] FrancescoBorzi opened #181 "Something went wrong"
Hi, I've tried to use php-github-api, trying:

[code]

but something went wrong and I can't get the "test" output.

If I try:

[code]

I get the "test" output. What's wrong?

Sorry for posting here, probabily this is my fault and not an issue, but I don't know where to ask.

[2014-08-25 23:29] #181 closed, assigned to nobody

[2014-08-25 23:39] FrancescoBorzi opened #182 "watchers_count points to stargazers_count"
Trying to:

[code]

I get:

Stars: 454
Watchers: 454
Forks: 177

watchers_count value is the same of stargazers_count, instead of pointing to the watchers count
forks_count seems to be wrong too

[2014-08-26 15:08] #179 closed, assigned to nobody

[2014-09-03 18:47] galeone opened #185 "Open issues in organization repo"
Hello,
I'm trying to open an issue in an organization repo, but I think that the issue API lacks at this.

The code I'm tryng to run is:

[code]

The organization is github.com/nerdzeu and the repository is nerdz.eu

When i Run the code an exception is thrown:

[code]

I think it gives not found because requests are made to /user/ and not to /orgs/.
I'm right or exists some other method to do that

[2014-09-03 20:11] #185 closed, assigned to nobody

[2014-09-09 01:49] gj1118 opened #187 "Getting all the commits of a repository"
Hi,
I am doing something like this

[code]

I am expecting to get the list of all the commits to a repo (per page 100) but all I am getting is the default value of 30.  Can you please let me know what I am doing wrong

thanks

[2014-09-09 16:07] Nek- opened #189 "Missing doc about pagination parameters"
See #68

[2014-09-10 03:35] navjyotj opened #191 "Get all the repos of a user"
Hi,
I am trying to get all the repos of a user. But it seems that I can't override the default limit of 30.
I know I can do something like https://api.github.com/users/username/repos?page=2 but how can i append the page query parameters is something I cannot understand.

 I have been pulling my hair all day long and I am already at the point of no return. Please help.

Thanks

[2014-09-10 07:12] #191 closed, assigned to nobody

[2014-09-10 07:16] #187 closed, assigned to nobody

[2014-09-10 12:49] #189 closed, assigned to nobody

[2014-09-10 18:25] Dunnzilla opened #193 "No way to walk repository page results"
Using a call like this:

[code]

There is no way to fetch more than the first page of results.

[2014-09-10 18:46] #193 closed, assigned to nobody

[2014-09-13 15:11] nWidart opened #194 "Api Rate limit"
Hi,

This isn't really a bug, more a question on how you guys tested this package, while staying lower then the API limit of 5000 calls an hour.

I'm having the issue of constantly get over the 5k limit so makes developing a package on top of this one very hard.

Thanks!

Nicolas

[2014-09-13 15:55] nWidart opened #195 "Conditional Requests"
Hi,

Is there a way to send [conditional requests](https://developer.github.com/v3/#conditional-requests) with this package?

Thanks!

Nicolas

[2014-09-13 16:15] gj1118 opened #196 "Get comments of a gist"
Is there a way , I can get all the comments for a gist ?

thanks

[2014-09-15 07:43] #194 closed, assigned to nobody

[2014-09-16 17:50] #195 closed, assigned to nobody

[2014-09-16 23:20] #171 closed, assigned to nobody

[2014-09-23 06:10] #182 closed, assigned to nobody

[2014-09-26 12:18] ghost opened #199 "Getting all commits with ResultPager"
I'm trying to get a list of all commits in a repository (only to display the number of commits so it's nothing fancy) and this is the code I'm using for that:

[code]

However, I'm just getting this as a return when I do `var_dump($repo_result)`:

[code]

(I've removed the rest of the dump because it's very long.)

Am I just doing it wrong, or is pagination through commits not a part of the librar

[2014-09-26 12:46] #199 closed, assigned to nobody

[2014-10-30 10:57] jbrooksuk opened #202 "Auto paginate results"
Auto pagination of all results would be a great option to have.

[2014-11-01 15:23] yanpeipan opened #204 "is there a method to get access_token?"
POST https://github.com/login/oauth/access_token

[2014-11-02 22:42] joshhornby opened #205 "onRequestBeforeSend never gets hit when trying to authenticate user"
So I am using a correct token, I know this because I wrote my own class to check the token and it allowed me to send in the the header as a Authorization header. See https://developer.github.com/v3/oauth/#use-the-access-token-to-access-the-api

[code]

When this function is called

[code]

The `onRequestBeforeSend` method is never called in the AuthListener class.

[2014-11-04 09:32] #204 closed, assigned to nobody

[2014-11-04 15:46] #205 closed, assigned to nobody

[2014-11-04 15:52] joshhornby opened #206 "Not Found Error"
Hey,

[code]

Is there any reason this code would return the Not found error message? I have stepped through every line and cant work out why this would error. I am using Laravel 5, maybe this is causing issues?

[2014-11-09 03:47] jmcgdz opened #208 "Get authenticated user"
Maybe I'm missing something obvious, but I can't for the life of me find how to:

https://developer.github.com/v3/users/#get-the-authenticated-user

[2014-11-09 15:20] #208 closed, assigned to nobody

[2014-11-11 16:12] #206 closed, assigned to nobody

[2014-11-22 15:36] garak opened #211 "api_limit is hard coded to 5000"
It would be nice getting a dynamic api_limit.
Default value should be 60 (the standard limit without authentication) and should change to 5000 only if authentication is used.

[2014-12-25 06:59] rambuvn opened #216 "how to create new repository"

[2014-12-25 10:19] #216 closed, assigned to nobody

[2015-01-05 09:29] heimonsy commented on #169
#223

[2015-01-06 07:29] pilot commented on #169
@cmfcmf @heimonsy merged

[2015-01-06 07:29] #169 closed

[2015-01-06 08:15] cmfcmf commented on #169
Cool!

[2015-01-09 20:13] ShonM commented on #151
Looks like this was added in #176

[2015-01-09 21:04] guillermoandrae commented on #170
As soon as my other PR goes through, I'll clean up my commit and send it in for review.

[2015-01-09 22:25] stof commented on #170
Rather than making the Travis build responsible for this, I would rather recommend enabling Scrutinizer and making it responsible for running PHPCS checks. This way, Travis would still be about test failures only.

[2015-01-09 22:26] GrahamCampbell commented on #170
I agree. I see a lot of people wanting to misuse travis in this way.

[2015-01-09 22:40] guillermoandrae commented on #170
No problem.  Will make the necessary changes.
On Jan 9, 2015 5:26 PM, "Graham Campbell" <notifications@github.com> wrote:

[2015-01-14 03:36] jasonvarga commented on #150
Is there any way to do this that might be undocumented?

[2015-01-17 17:14] garak opened #225 "Fetching zipball from a tag gets master instead"
I'm trying to fetch zipball from jquery 2.1.3
If I do this:
[code]
I get zipball from master.
I debugged with Guzzle, and I see that file it's retrieved from https://api.github.com/repos/jquery/jquery/zipball?ref=2.1.3
According to [docs](https://developer.github.com/v3/repos/contents/#get-archive-link), it should be retrieved from https://api.github.com/repos/jquery/jquery/zipball/2.1.3

See http

[2015-01-22 10:58] keradus opened #228 "Fork?"
Hi!
KnpLabs/php-github-api say it's a fork of ornicar/php-github-api, the second one teel it is not maintained anymore and one should go... here.
Maybe convert this repo to standalone one, not forked one ?

[2015-01-22 11:05] stof commented on #228
The only way to change the root repo of a github network is to ask the Github support to do it AFAIK

[2015-02-02 21:16] apramana opened #236 "Authorizations.php"
According to the [Github docs](https://developer.github.com/v3/oauth_authorizations/), this is the call to check authorizations:

In the Authorizations.php file, this is what's being used:

I had to make this change to get token checking to work, so I'm assuming this isn't an alias.

[2015-02-03 09:41] #225 closed

[2015-02-03 16:02] Nebo15-Marvin opened #237 "Missing deployments api"
https://developer.github.com/v3/repos/deployments/

[2015-02-03 19:28] GrahamCampbell commented on #237
Please review existing pull requests for creating duplicates. Please close this.

See https://github.com/KnpLabs/php-github-api/pull/174..

[2015-02-04 09:47] Nek- commented on #237
Actually it could be good adding tests a fix the current PR.

[2015-02-04 12:10] AndrewDryga commented on #237
@GrahamCampbell I don't have right to close PRs.

[2015-02-04 12:19] #237 closed

[2015-02-18 23:34] jbrooksuk opened #243 "Cannot bring back more than 100 results"
I'm using `$paginator->fetchAll($me, 'repositories')` and yet I can only get 100 results back - is something broken in the paginator or am I missing something?

[2015-02-18 23:37] GrahamCampbell commented on #243
Yeh, I'm stumped too.

[2015-02-19 20:12] GrahamCampbell commented on #243
This is resolved now thanks to @stof. This can be closed now.

[2015-02-19 20:32] nWidart opened #246 "How to add a member to a team"
Hello,

I would like to add members to a origination's team.
Since this isn't documented, how should I do this?

I've tried:

[code]
returns 'Not Found'

Also trying to show team info with `$this->client->organizations()->teams()->show('Platform Beta')` results in 'Not Found'

I can show the organization info though, using `$this->client->organizations()->show('AsgardCms')`

Thank you,

[2015-02-19 20:36] nWidart commented on #246
Ok found how :

Had first to get all the teams:

[code]

Then using the **team id**
in the `->addMember()` method.

[2015-02-19 20:36] #246 closed

[2015-02-20 08:34] #243 closed

[2015-02-20 09:24] stof commented on #243
For reference, see https://github.com/StyleCI/StyleCI/issues/154#issuecomment-75113420 for the resolution

[2015-03-09 09:28] sdeering opened #251 "Runtime Exception"
Hi guys,
If I make a request for a user/repo which doesn't exist I get this error. I'm using Laravel 5.0 any ideas how to catch this?
Thanks

![image](https://cloud.githubusercontent.com/assets/1787454/6552522/5f74180c-c692-11e4-8cc5-fabcb6066df7.png)

[2015-03-09 09:30] garak opened #252 "Handle redirected repositories"
We know that Github is a bit unfair about "moved" repositories (e.g. a repositories that was under a username and now is under a different one): it replies with a 301 via http, but it replies with a 404 via API.
I'm wondering if we could resolve the problem in this library.
Some possible solutions are listed in [this issue](https://github.com/codetriage/codetriage/issues/240)

[2015-03-13 18:25] parhamdoustdar opened #253 "ResultPager::fetchAll() doesn't work with the search API"
THis piece of code returns only 4 results:

[code]

The reason this is happening is the use of `array_merge()` on line 78 of `ResultPager`:

[code]

Since the search results are put in the `items` key of the returned result, it gets overridden using `array_merge()`. I unfortunately do not know enough about the GitHub API results to suggest an improvement, but maybe adding an optional argument to `

[2015-03-13 18:56] renatokd opened #254 "Branches Pagination"
Hello!

How can I make the paging branches?

I found not the ResultPager documentation.

Thank U

[2015-03-13 18:59] GrahamCampbell commented on #254
Same way everything else works.

[2015-03-13 18:59] GrahamCampbell commented on #254
I use the paginator in there. Feel free to take a look: https://github.com/StyleCI/StyleCI.

[2015-03-13 18:59] GrahamCampbell commented on #254
https://github.com/StyleCI/StyleCI/blob/master/app/GitHub/Branches.php

[2015-03-13 21:46] pilot commented on #254
@GrahamCampbell :+1:

[2015-03-17 00:33] kaidesu commented on #116
This is still very much an issue. Looks like if the `serialize` and `unserialize` methods are replaced with `json_encode` and `json_decode` (respectively) will clear things up.

`$response` is obviously an array, wheres Guzzle's `serialize` method is type-hinted to only accept a string.

[2015-04-07 08:52] sstok commented on #157
I would even vote for adding support for Guzzle 5.
http://mtdowling.com/blog/2014/10/13/guzzle-5/

[2015-04-07 08:55] sstok commented on #142
https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Issue.php#L178 There is already an API but its not documented yet.

[2015-04-07 10:52] GrahamCampbell commented on #157
Or Guzzle 6. :P

[2015-04-07 10:57] sstok commented on #157
Not released yet :yum: my mean reason for Guzzle 5 is upload progress callback :stuck_out_tongue: (which I like to use in Gush with release assets-uploading). There is a plug-in for Guzzle 4 but its deprecated.

[2015-04-07 10:58] GrahamCampbell commented on #157
:+1: For guzzle 5. The upgrade to guzzle 6 shouldn't be that bad from what I see of it so far, but probably more than guzzle 4 -> guzzle 5 was.

[2015-04-07 12:12] stof commented on #157
The issue with migrating from Guzzle 3 to Guzzle 4+ is that it is a breaking change, given that they are totally separate projects.

[2015-04-09 08:33] sdeering commented on #211
Is there a way to query the current API usage?

[2015-04-09 15:14] keradus commented on #228
any news?

[2015-04-10 00:07] mAAdhaTTah commented on #211
[It's returned in the headers.](https://developer.github.com/v3/#rate-limiting)

[2015-04-10 00:14] sdeering commented on #211
Yes I see that but is there seems to only be a mediator function to access the request header values.

ie consider the API call and access to the header response:
[code]
Doesn't seem to be accurate and is stuck at 4999.

![image](https://cloud.githubusercontent.com/assets/1787454/7079654/4ea472d8-df6a-11e4-9725-bf734e1fe86b.png)

[2015-04-24 09:39] jrean opened #262 "X-RateLimit-Remaining decreasing when cache should be used"
Hi,

I scratch my head with this issue. My cache seems to work correctly but I don't understand why for this case it is not...

For instance:

1- I fetch all files within the given path.
2- For each file I fetch its commit(s).
[code]

Then wherever you want run the following test:

[code]
**As you can see the Github Api rate remaining decrease...**

This is how I instantiated the client:
[code]

W

[2015-04-25 08:22] jrean opened #263 "class Guzzle\Http\Message\Header could not be converted to int"
Hi,

[code]

Then:

`var_dump(ResponseMediator::getApiLimit($response));` outputs:

[code]

`https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/HttpClient/Message/ResponseMediator.php`

[code]

`if (null !== $remainingCalls && 1 > $remainingCalls)` the php notice comes from the `1 > $remainingCalls`.

[2015-04-26 04:48] jrean commented on #262
I figured out how to get more informations:
`$client->getHttpClient());`

I still try to understand why this request is not cached:
`$client->github->api('repo')->commits()->all($this->user, $this->repo, ['sha' => 'master', 'path' => $path]);`

Each time I hit call this one my api rate limit is decreased by one!

[2015-04-26 11:59] GrahamCampbell commented on #262
That's because the api limit is cached in the response, then we literally just unserialize the cached response and get the old api limit. This is not actually the current api limit from the original request.

[2015-04-26 12:03] jrean commented on #262
Thank you Graham,

So you mean in reality my api limit remaining is not moving and I’m correctly using the cache even when I’m fetching the commits inside the foreach? :-)

[2015-04-26 12:40] GrahamCampbell commented on #262
Yes. You are just getting the api limit as it was when the original request was made. :)

[2015-04-26 12:48] jrean commented on #262
Ok I got it!
But the number is still decreasing and it shouldn’t! Because the response should be cached and no file(s) change(s) btw each request.

When I fetch the content (files) my api rate remaining doesn’t move because I use the cache. But as soon as I start fetching the commit(s) for each file(s) the api rate remaining seriously decrease for each fetch commits call!

It should not because of

[2015-04-26 12:56] GrahamCampbell commented on #262
It should decrease with each iteration, because the original requests made where one after another.

[2015-04-26 14:41] jrean commented on #262
Yes you are right, it decreases after each iteration.
But why does it decrease whereas it is the same content requested?

I think I don’t understand something :(

Logically if the content requested is the same the status code should be == 304 and so the cache should be used. Instead a new request is made against the api and my remaining hits decrease.

What do I miss?

Thank you for your answers G

[2015-04-27 14:51] jrean commented on #262
I updated my test:

[code]

The output is clear:

[code]

The first request has a 304 status code.
Each iteration requests return a 200 status code. So the cache is not used and the X-RateLimit-Remaining decreasing.

@GrahamCampbell please help me. I'm going crazy because I don't understand why this *** requests inside the iteration are not cached and don't return a 304!

:)

[2015-04-30 10:18] jrean commented on #262
https://github.com/KnpLabs/php-github-api/pull/265

[2015-04-30 10:18] #262 closed

[2015-05-01 08:15] jrean commented on #251
https://github.com/KnpLabs/php-github-api/tree/master/lib/Github/Exception

`try / catch`

[2015-05-02 09:14] sdeering commented on #251
Thanks mate, yeah I'll try that was having issues with catching the exceptions with the Laravel package which uses this KNP one. We can close this, and re-open if needed.

[2015-05-02 09:14] #251 closed

[2015-05-08 01:40] pierrejoye commented on #254
Well, let answer the question using this library and not some other random one (nice one btw @GrahamCampbell !):

$client = new \Github\Client();
$client->authenticate($token, null, $urltoken);
$pager = new \Github\ResultPager($client);
$api = $client->api('repo');
$method ='branches';
$params = ['php', 'php-src'];
$branches = $pager->fetchAll($api, $method, $params);

[2015-05-15 09:14] Swader commented on #157
+1 for Guzzle 5

[2015-05-15 09:18] pilot commented on #157
+1 for 5

[2015-05-18 06:47] cursedcoder commented on #196
@gj1118 @stof that's not missing

[code]

[2015-05-18 06:47] #196 closed

[2015-05-18 08:12] #254 closed

[2015-05-18 08:56] cursedcoder commented on #253
@parhamdoustdar that's right `ResultPager` is not compatible with search api.

We are working on it.

[2015-05-18 17:32] dovy opened #269 "Get only Latest non-pre-release release?"
I'd love an option to EASILY get the latest, non-pre-release release.  ;)

[2015-05-18 17:41] GrahamCampbell commented on #269
I'd argue array_filter is pretty easy.

[2015-05-18 17:48] dovy commented on #269
Yes, but there's a new github API call for it. ;)

[2015-05-19 13:34] ahusar opened #270 "Get all closed pull request"
Based on the documentation, we have to use `$client->api('pull_request')->all($owner, $projectName,'closed' )` line of code in order to get all closed pull requests.

If we use this, we get the next error:

[code]

If I put the last parameter as array, I am getting only the opened pull requests.

Is there a way to get all the merged pull requests? Or at least all the closed pull requests?

[2015-05-19 16:54] stof commented on #270
The documentation is outdated

[2015-05-20 14:49] #270 closed

[2015-05-21 07:28] cursedcoder commented on #269
which call @dovy ?

[2015-05-21 07:29] #202 closed

[2015-05-21 07:59] docteurklein commented on #116
@zanmoskotevc could you debug and tell what is the value returned by `Guzzle\Http\Message\Response::serialize()` ?

[2015-05-21 11:58] #253 closed

[2015-05-21 14:22] jrean opened #273 "Github Api V3 report"
Hi,

In case someone is scratching his head as I did. I discovered the cache system won't work if you try to hit a **private** repository. I started debugging and discovered the issue is coming from Github. **I contacted them and opened a ticket which is in progress.**

The `etag` returned is never the same...

**So if anyone encounter the same issue, just be patient it should be fixed soon by Git

[2015-05-21 14:33] stof commented on #273
This shoould be reported to Github. This repo is the PHP API client. It consumes the API, and is not maintained by the github team. So it cannot do anything about misbehaviors of the API itself.

[2015-05-21 16:02] jrean commented on #273
@stof LOOOOOOOOL

Why don't you never read POSTS!!!

[2015-05-21 16:23] stof commented on #273
@jrean but posting this ticket here makes no sense at all, as it is purely as server-side issue with the API

[2015-05-21 16:43] dovy commented on #269
I just manually used your run, but here it is:
https://developer.github.com/changes/2015-02-18-new-releases-api-methods/

Only does actual releases, not pre-release.  ;)

[2015-05-21 17:39] jrean commented on #273
Thank for judging if something is useful or not. I'm just sharing something with the community to save eventually someone time (I lost myself). You're so negative...

[2015-05-22 03:43] cursedcoder commented on #273
Thank you @jrean
That's helpful

[2015-05-22 04:12] #273 closed

[2015-05-22 04:21] cursedcoder commented on #211
@sdeering you can use guzzle events to process any http data:
[code]
see list of events http://guzzle3.readthedocs.org/http-client/request.html#plugins-and-events

[2015-05-22 04:21] #211 closed

[2015-05-22 04:23] cursedcoder commented on #178
it is implemented now, can be closed

[2015-05-22 04:23] #178 closed

[2015-05-22 04:25] cursedcoder commented on #175
You can do that with a pagination api.

[code]

[2015-05-22 04:25] #175 closed

[2015-05-22 04:27] #269 closed

[2015-05-22 04:31] cursedcoder commented on #252
@garak as I see there's no possibility to implement it in current lib.

But users can retrieve repositories by id across `moved` issue.

[2015-05-22 04:32] #252 closed

[2015-05-22 04:44] dovy commented on #269
:+1:

[2015-05-22 07:15] garak commented on #252
How am I supposed to know the id of a repository? :sad:

[2015-05-22 07:32] cursedcoder commented on #252
@garak it's returned with a `repo` apis.

[2015-05-22 07:38] garak commented on #252
Trying to be more explicit: Is there a way to get the id of a repository from repository name? Possibly, the name is not the current one, but the "legacy" one (in case of moved repository)

[2015-05-22 07:42] stof commented on #252
The preview version of the API now redirects for moved repositories too: https://developer.github.com/changes/2015-04-17-preview-repository-redirects/

[2015-05-22 07:45] garak commented on #252
Thank you @stof
So, is there any chance to implement such new API version here? Maybe we could reopen this issue?

[2015-05-22 07:49] stof commented on #252
@garak just set the header in the guzzle client used by the API client, and it will work automatically

[2015-05-22 07:49] cursedcoder commented on #252
@garak you can use:
[code]

[2015-05-22 11:21] garak commented on #252
@cursedcoder jsut tried your solution, but the header is ``Accept: application/vnd.github.beta+json``, not the expected ``Accept: application/vnd.github.quicksilver-preview+json``

[2015-05-22 12:49] cursedcoder commented on #252
@garak in addition try to call:
[code]
should work.

[2015-05-22 13:38] garak commented on #252
Solved by calling

[code]

Thank you anyway!

[2015-05-25 08:08] jasonherndon opened #278 "Unresolved Not Found for Repo"
Here's the code I'm using inside of Laravel 5 to get access

[code]

I'm sure the token is correct and is scoped correctly. I'm sure the repo name is correct. I've tried with AUTH_HTTP_TOKEN and it's not working there either. I can retrieve all public repos, but getting a specific repo, public or private, returns a NOT FOUND error message with this code. Am I missing something?

[2015-05-25 08:19] cursedcoder commented on #236
fixed in #277

[2015-05-25 08:19] #236 closed

[2015-05-25 08:28] ArniDzhan commented on #175
thanks

[2015-05-25 08:32] cursedcoder commented on #228
done

[2015-05-25 08:32] #228 closed

[2015-05-25 08:47] keradus commented on #228
That's great!

[2015-05-25 09:24] jasonherndon commented on #278
Used the @GrahamCampbell Laravel-Github package to complete this. For some reason, his token authentication listing of the repo seems to work. Not sure what the difference is. I'll close the issue since I know it's been asked before though I still think it may be something you look in to.

[2015-05-25 09:24] #278 closed

[2015-05-25 12:36] #149 closed

[2015-05-25 12:45] #142 closed

[2015-05-25 12:45] #19 closed

[2015-05-25 12:47] cursedcoder commented on #130
That's not related to github api.
You should use git itself for such purpose.

[2015-05-25 12:47] #130 closed

[2015-05-25 12:49] cursedcoder commented on #153
it's there https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Organization/Members.php#L13

[2015-05-25 12:49] #153 closed

[2015-05-25 12:54] #143 closed

[2015-05-25 12:54] #134 closed

[2015-05-25 12:55] #151 closed

[2015-05-25 12:56] cursedcoder commented on #150
please check https://github.com/KnpLabs/php-github-api/blob/master/doc/repo/assets.md

[2015-05-25 12:56] #150 closed

[2015-05-26 03:01] cursedcoder commented on #118
we would love if you contribute with pr

[2015-05-26 03:01] #118 closed

[2015-05-26 03:07] #263 closed

[2015-05-26 03:09] cursedcoder commented on #125
I believe it's fixed now.

[2015-05-26 03:09] #125 closed

[2015-05-26 14:51] hyunhonghyub commented on #246
can i see your source code?

i want detail info,,

[2015-05-26 19:50] cmfcmf commented on #157
Guzzle 6 has been released: https://github.com/guzzle/guzzle/releases/tag/6.0.0.

[2015-05-26 20:06] GrahamCampbell commented on #157
:+1: guzzle 6

[2015-05-30 21:03] xabbuh commented on #157
What about relying on something like [egeloen/http-adapter](https://github.com/egeloen/ivory-http-adapter) to be independent of a concrete HTTP client implementation?

[2015-05-30 23:14] pilot commented on #157
@xabbuh interesting...

[2015-06-01 08:12] cursedcoder commented on #157
good idea @xabbuh

[2015-06-01 09:11] GrahamCampbell commented on #157
I'd prefer just using guzzle 6. We can get more performance with concurrent requests that way.

[2015-06-02 06:46] cursedcoder commented on #157
@GrahamCampbell yes, but still this library does not support concurrent requests yet.

[2015-06-02 08:40] GrahamCampbell commented on #157
Guzzle does, and the other one never will as far as I can see.

[2015-06-02 08:41] cursedcoder commented on #157
@GrahamCampbell I mean `php-github-api` itself is designed for handling single requests.

[2015-06-02 08:42] GrahamCampbell commented on #157
There's no reason why that can't change during a guzzle 6 upgrade.

[2015-06-05 01:48] liaohuqiu opened #281 "Get a Reference error"
From: https://developer.github.com/v3/git/refs/#get-a-reference

If we want to get the information of `master`, should be

[code]

But, I saw in the code in `References.php`

[code]

The `$reference`: `heads/master` after `rawurlencode` will be:

[code]

[2015-06-10 08:18] cursedcoder commented on #281
should be fixed with:
[code]

[2015-06-10 11:37] liaohuqiu commented on #281
There are still some other same issues in the `References.php`

[2015-06-17 08:03] cursedcoder commented on #281
closed https://github.com/KnpLabs/php-github-api/commit/ccf5e49a2454c1b102333586d80ce67012b5080f

[2015-06-17 08:03] #281 closed

[2015-07-03 14:49] GrahamCampbell commented on #170
This can be closed now as StyleCI is already enabled on this repo and php-cs-fixer config is present.

[2015-07-03 14:50] #170 closed

[2015-07-06 14:02] timbeks opened #292 "Adding a team to a repo missing permissions"
Hi,

I'm trying to add a team to a repository with the pull/push/admin rights, but the original addTeam with an array of strings for the repo's is deprecated. According to the documentation (https://developer.github.com/v3/orgs/teams/#add-team-repo) you should use teams->addRepository. But at this time, you can't supply the argument anywhere.

Also, in the methods of team, it uses for repository()

[2015-07-06 21:21] floored1585 opened #293 "Can't return all comments in a repo"
Hey there, I'm trying to get all comments in a repo.  You can do this via the API as follows:

https://api.github.com/repos/floored1585/SmartCart/issues/comments

But there is no way to do this (that I can see) in this library.  It would be awesome to have this functionality.

[2015-07-06 21:25] GrahamCampbell commented on #293
Yes there is... https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Issue/Comments.php#L36

[2015-07-06 21:28] floored1585 commented on #293
Explain?  That requires $issue to be set.  How do you get all comments for a repo, for all issues, as the URL I posted does?

[2015-07-06 21:29] floored1585 commented on #293
That function returns all comments for an _issue_ not for the entire repo.

[2015-07-06 21:29] GrahamCampbell commented on #293
https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Repository/Comments.php#L36

[2015-07-06 21:30] floored1585 commented on #293
Ahhh! I will try that, thank you!

[2015-07-06 21:35] floored1585 commented on #293
Hmm, that looks like it only shows commit comments, not comments on issues.

[2015-07-10 10:52] cursedcoder commented on #293
did you try https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/PullRequest/Comments.php#L14 ?

[2015-07-10 10:56] #293 closed

[2015-07-10 16:08] floored1585 commented on #293
Looks like that's all comments for a pull request.

I ended up hacking around this with the following code, which does what I want but isn't what the code intends.

$comments = $client->api('issue')->show($owner, $repo, 'comments');

[2015-07-14 11:07] sroze commented on #157
:+1:

[2015-07-15 00:36] byybora opened #294 "Listing all public repositories"
https://developer.github.com/v3/repos/#list-all-public-repositories

I couldnt find how to get all public repositories?

[2015-07-23 08:05] cursedcoder commented on #294
seems it's missing @byybora

[2015-07-23 08:08] cursedcoder commented on #294
still you can try https://github.com/KnpLabs/php-github-api/blob/master/doc/request_any_route.md

[2015-07-23 08:20] byybora commented on #294
@cursedcoder +1 Thanks

[2015-07-23 08:20] #294 closed

[2015-07-25 02:21] andreybleme opened #295 "Return all users using "all()" API method"
Hi guys,

How does the return limit of the "all()" method works? I'm trying to retrieve most users as possible to get them by some custom filters, but it only return 99 users. I didn't find any explanation about this issue in the docs.

BTW, thanks for the nice API PHP library ;)

[2015-07-26 12:31] cursedcoder commented on #295
Use pagination https://github.com/KnpLabs/php-github-api/blob/master/doc/result_pager.md

[2015-07-27 00:46] andreybleme commented on #295
Thanks!

[2015-07-27 00:46] #295 closed

[2015-07-28 19:53] emersonthis opened #296 "Unable to set perPage for Issue::find()"
I'm searching for issues as follows:

[code]

In other contexts the `$paginator->fetchAll()` seems to return an unlimited number of results. But here I get a max of 10 no matter which parameters I pass. What am I doing wrong?

[2015-07-28 19:56] emersonthis opened #297 "Update Issue::find() to use the new gitHub search"
The legacy search doesn't allow filtering by labels or the advanced search syntax on the HTML site. The new search does.

I'd be happy to make a PR for this if you give me some input on how you'd it implemented. Perhaps as a new method along with the existing for backwards compatibility?

[2015-07-30 12:16] BjornTwachtmann opened #299 "CachedHttpClient does not differentiate between HTTP verbs when setting cache ID."
I'm having some trouble doing the following:

[code]

 $dirInfo is always null when using the CachedHttpClient. Reading through the code, this is because exists() makes a HEAD request to the same URL that show() makes a GET request to, and the client is caching a response with an empty body.

 The simplest solution to this would appear to be to change [https://github.com/KnpLabs/php-github-api/blo

[2015-08-03 12:44] docteurklein commented on #299
That's definitly a problem yes. It would be awesome if you could provide a patch :)

Otherwise I think the latest version  of the underlying guzzle provides caching out of the box. It would be even better to rely on it!

[2015-08-03 12:46] docteurklein commented on #299
FYI: http://guzzle3.readthedocs.org/plugins/cache-plugin.html does what we tried to do.

[2015-08-05 00:56] GrahamCampbell opened #301 "Better pagination"
It would be good if we could have an iterator that loads pages singularly in memory, instead of loading everything and lumping it into a massive array.

This is something I'd be happy to look into implementing if it's wanted.

[2015-08-05 08:21] stof commented on #301
it should be possible to implement it on top of the existing features of the ResultPager btw, as it supports fetching pages one by one

[2015-08-05 10:37] GrahamCampbell commented on #301
Yeh. :)

[2015-08-05 10:37] GrahamCampbell commented on #301
What I want is a iterator that will seamless fetch pages under the hood so i can iterate the entire data set.

[2015-08-05 13:01] emersonthis commented on #301
Yea. I struggled with this too. The current paginator makes it easy to create "next" and "previous" links but there doesn't appear to be a way to show all the intermediate page links. Or even know how many total results there are. Both of those would be really useful for me.

[2015-08-05 13:19] GrahamCampbell commented on #301
What?

[2015-08-05 13:19] GrahamCampbell commented on #301
I don't think you understand what I want to do.

[2015-08-05 13:22] stof commented on #301
@emersonthis it gives you the links to the first, previous, next and last pages, which are the only ones exposed by the Github pagination.

[2015-08-05 13:33] GrahamCampbell commented on #301
I'm not interested in how many pages there are at all. I want an iterator that can go to the next entry, regardless of whether it was on the same page, or we had to load a new page.

[2015-08-05 13:38] emersonthis commented on #301
@GrahamCampbell I get what you're asking for. I didn't mean to hijack your issue. I just thought the functionality I was describing was related enough to be worth mentioning. But according to @stof it sounds like it's not really realistic anyway, given what's offered via the Github API.

[2015-08-05 13:39] GrahamCampbell commented on #301
We only need the next page, so this would be totally realistic, infact, easy.

[2015-08-05 13:39] GrahamCampbell commented on #301
Leave this with me, and I'll do something soon.

[2015-08-06 12:05] emersonthis opened #305 "Unable to generate oauth token"
I suspect I may be misunderstanding the documentation, but I'm currently unable to get a token using the Authorizations api. Here's what I'm doing:

[code]

I get: `Fatal error: Uncaught exception 'Github\Exception\RuntimeException' with message 'Requires authentication'  ...`. I've double-checked the client id and client secret and they're correct. Am I doing something wrong?

[2015-08-06 15:37] emersonthis commented on #305
I think I see what I was missing... the "Requires authentication" is referring to the my registered gitHub app. (I thought it meant that the client's authentication method hadn't worked).

But I'm still somewhat confused as to the intended workflow for a 3rd party web app. Do I need to handle the Oauth2 redirection manually first and then store the token? Or does the library have a way to get a to

[2015-08-06 17:24] GrahamCampbell commented on #305
This is kind of unrelated to this package?

[2015-08-06 19:14] emersonthis commented on #305
I think part of my issue is trying to clarify what is/isn't part of the library. It may just be a matter of documentation.

Is the create method of the Authorizations API not designed for this?

[2015-08-06 19:30] GrahamCampbell commented on #305
Works fine for me?

[2015-08-06 21:10] emersonthis commented on #305
@GrahamCampbell Can you clarify what worked for you? My code example? What is the expected return of `$github->api('authorizations')->create($data);`

[2015-08-12 19:34] emersonthis opened #306 "milestones()->all results are in reverse order"
This may be a case of old/incorrect GitHub API documentation, but according to [their docs](https://developer.github.com/v3/issues/milestones/#list-milestones-for-a-repository) the default for this...

`$test = $this->client->api('issue')->milestones()->all($org, $repo);`

...should be for results to be returned in ascending order by due_date. I get descending order.

Regardless of the defaults, i

[2015-08-12 19:40] emersonthis commented on #306
Just started to write a patch and saw that there's *already* a third param! Oops.

[code]

I think it's more intuitive for the default to match the API (`asc`), but since it's configurable we could just mention it in the docs. I'd be happy to submit a PR for either. Lemme know.

[2015-08-20 19:59] ghost opened #308 "plz help me to creat authorizations And writing a new repo"
1-Can you give a simple example of how to creat authorizations call back url im use the's code:

[code]

not worck ???
2-And how method of writing a new repo useng authorizations

I am sorry for the English language because I use Google translator
Please help me I am in dire need for this code

[2015-08-31 19:17] ppKrauss opened #309 "Are there a demo site?"
For illustration and to ease understand... Are there a demo site?

[2015-08-31 19:19] GrahamCampbell commented on #309
How would that make it easier?

[2015-08-31 19:33] ppKrauss commented on #309
Only a URL to see and try to use a little bit

[2015-08-31 19:50] GrahamCampbell commented on #309
What's wrong with github's docs? They're very detailed.

[2015-08-31 19:52] stof commented on #309
And this package does not provide anything viewable on an URL. It is meant to be used in the code of other project. So there is nothing to see on URLs.

[2015-09-02 19:38] Grummfy opened #310 "Suppoort for webhook ?"
Hello,
do you have plan to support webhook ? Not only as client to read webhook setted, but to receive event, interpret the payload, etc.

thanks

[2015-09-02 20:15] GrahamCampbell commented on #310
I don't think anything needs to change?

[2015-09-02 20:29] Grummfy commented on #310
well, some class to help interpret payload, check header, etc can help

[2015-09-02 20:31] GrahamCampbell commented on #310
You mean check the hash?

[2015-09-02 20:32] GrahamCampbell commented on #310
Feel free to look at how I deal with security in https://github.com/StyleCI/StyleCI/blob/master/app/Http/Controllers/GitHubController.php#L46.

[2015-09-02 20:44] Grummfy commented on #310
Thanks.
But this can be added here like a class to deal with payload. Don't you find it can be usefull for everyone?

[2015-09-02 20:49] GrahamCampbell commented on #310
Not really. My code there is quite specific to the framework, and the contaxt.

[2015-09-03 07:28] stof commented on #310
@Grummfy given that the API client does not wrap returned types in PHP classes for API methods (which would be a pain to maintain as any new field added by github would be unusable until the client is updated to support them), there is no reason to wrap the webhook payload in a class either.

[2015-09-03 10:26] #309 closed

[2015-09-03 10:26] #310 closed

[2015-09-04 01:28] byan commented on #157
+1 for guzzle 6. This package is the only one which require guzzle 3.x for me so far. At least it will help me reduce our deployment size if it update to guzzle 6.

[2015-09-26 17:00] quickliketurtle opened #313 "Rate Limit Endpoint"
Hello -
I needed to hit the rate_limit endpoint to verify auth was working and returning the 5000 requests/hr limit instead of the 60 when not authenticated. I added a rate_limit class to your package with some helpers like getCoreLimit() and getSearchLimit(), so i can do say:

    $limit = $github->api('rate_limit')->getCoreLimit();

If it would beneficial to others i can submit a PR. But I wante

[2015-09-26 17:22] stof commented on #313
Well, supporting all API endpoints is the goal. So if you have an implementation of a missing endpoint, sending a PR makes sense.

[2015-09-30 12:36] tishma opened #315 "Access token"
Hi there,

Is it possible to obtain an access token from github based on code generated here https://github.com/login/oauth/authorize using this API?

Thanks
v.

[2015-09-30 13:47] stof commented on #315
what you are looking at is an OAuth 2 client library. This library is the SDK for the github API.

[2015-10-04 12:26] Soullivaneuh commented on #157
I'm :+1: for Guzzle upgrade but :-1: for v6 minimum requirement.

Developers can require a lower version to them projects and we have to be BC as possible.

I can work on a PR to support Guzzle 4, 5 and 6. This is not very hard, see an sample: https://github.com/nexylan/cloudflare/blob/2d4fe81231a8bb3dab1ecc952fdf3b25edc59602/src/HttpClient/GuzzleHttpClient.php#L64

[2015-10-05 18:52] jackmcdade opened #320 "Support application/octet-stream for binary asset streaming"
Is there any way to support `Content-Type: application/octet-stream` on API requests? Github will pass thru the file stream if you do this.

https://developer.github.com/changes/2013-09-25-releases-api/
https://developer.github.com/v3/repos/releases/#response-8

[2015-10-22 11:59] RyanHipkiss opened #328 "User events"
Hi,

Do you have any user event methods? I am looking to get :

https://developer.github.com/v3/activity/events/#list-events-performed-by-a-user

but there doesnt seem to be any for this in here as of yet.

[2015-11-09 18:13] EmileDMN opened #333 "Using with private repos"
Sorry if this a stupid question but is the API usable with a private repo?

It's not clear to me if this is simply a case of using the authorization part of the docs or if it is just not possible to use this with private repositories?

Thanks,

Emile

[2015-11-09 18:27] stof commented on #333
yes it is, as long as you are authenticated. If you cannot access the repo (because you are anonymous, or because it is the private repo of someone else), the github API returns a 404.

I suggest you to read the documentation of the Github API to see what can be done with it. This library just provides a way to access it from PHP.

[2015-11-10 09:10] EmileDMN commented on #333
OK that's really useful, thanks.

[2015-11-10 09:10] #333 closed

[2015-12-06 11:07] artygrand opened #337 "api('repo')->contents()->show() not works with images"
$fileInfo = $client->api('repo')->contents()->show($vendoe, $repo, $path_to_image);
returns null if file is image

[2015-12-15 00:55] mike503 opened #340 "No pagination for repo->branches (and many others)"
Maybe I missed that get() inherits parameters from other means, but I couldn't figure it out.

Making this manual change made sure I didn't get the default limit of 30 it looks like.

[code]

Hardcoding the parameter for kicks works:

[code]

Is there a better way I can feed these parameters in the caller? The third parameter is a specific branch name, and I don't see how to add params properly. C

[2015-12-20 22:28] Dgame opened #342 "[Notification] mark read"
I got the following error all the time if I try `$this->_client->api('notifications')->markRead();` :

[2015-12-21 10:08] Hadrien45 opened #343 "Add membership in organization"
Hello,

According to the Github API (https://developer.github.com/v3/orgs/members/#add-or-update-organization-membership), I try to find the method to "add or update membership in organization".
Is that method was wrapped ?

Thanks.

[2016-01-04 13:32] ostretsov opened #349 ""202 Accepted" on getting repository activity"
When I try to get repository activity with the following code:
[code]
it may return 202 (Accepted) status code as [described in official documentation](https://developer.github.com/v3/repos/statistics/#a-word-about-caching). Should that library manage with that problem (let's say with additional third argument to delay between requests until 200 status code) or it's client-side problem?

Can PR if

[2016-01-04 13:58] GrahamCampbell commented on #349
I don't think this is a bug in the library.

[2016-01-04 13:59] GrahamCampbell commented on #349
I think it's up to the library consumer to retry later once github have calculated the activity.

[2016-01-04 23:32] ramsey commented on #340
@mike503, using the [result pager documentation](https://github.com/KnpLabs/php-github-api/blob/master/doc/result_pager.md), I was able to figure out how to do this.

For branches, it looks something like this:

[code]

[2016-01-05 03:36] #349 closed

[2016-01-12 12:15] shubaivan opened #350 "Check the existance of a GitHub repo?"
I use knplabs/github-api and I need check exist repository but in this bundle I not find something like that, I try:

[code]

and where $branches = array(0) I know this repo empty, because If create repo automatic create branch master. This is right ?

And I try

[code]

but when not find I have global error not property $readmy == false

And try with curl
I have url this url = https://github.com/

[2016-01-20 02:14] chrisvogt commented on #328
I came here with a similar question. Check out [Request any Route](https://github.com/KnpLabs/php-github-api/blob/master/doc/request_any_route.md) in the documentation. The following example works for me:

[code]

[2016-01-20 15:10] moabi opened #351 "Configuring the http client - adding proxy support"
(hope I did not miss this feature...)
Would it be possible to add support for proxy settings as we can already do with

[code]

As I understand only options right now are :
- base_url
-  user_agent
-  timeout
- api_limit
- api_version
- cache_dir

with something like :

[code]

[2016-01-20 15:13] stof commented on #351
The options are any option supported by Guzzle AFAIK.

[2016-01-20 15:22] moabi commented on #351
ok my bad, so this should be ok therefore :

    $client->getHttpClient()->setOption('proxy', 'tcp://localhost:8125');

[2016-01-20 16:45] moabi commented on #351
Best option would be to define something like :

    return $this->request($path, null, 'GET', $headers, array(
               'query' => $parameters,
               $request_options,
               ));

where $request_options would be an array of possible guzzle options...

[2016-01-29 15:16] corbosman commented on #343
+1.  As of Github Enterprise 2.4.2 these api methods have been fixed to allow org admins to modify org memberships without invites.

PUT /orgs/:org/memberships/:username

[2016-01-29 17:26] davidcorbin opened #354 "Github 404 Not Found throwing runtime exception"
[code]

throws

[code]

According to https://developer.github.com/v3/orgs/members/#check-membership, 404 status is the correct response if the user is not a member of the organization.

[2016-01-29 18:52] xabbuh commented on #343
see #353

[2016-01-30 13:50] GrahamCampbell commented on #157
:-1: For guzzle 4 as it's EOL just the same as guzzle 3.

[2016-01-31 08:26] sstok commented on #157
Instead of depending on Guzzle I would vote for a PSR-7 solution.
Like https://php-http.readthedocs.org/en/latest/httplug/introduction.html

Simple provide a HttpClientInterface httplug implementation. Upgrading is easy and no BC is broken :+1:

[2016-01-31 16:01] sroze commented on #157
I like the idea of HttpPlug as it looks like that it will solve all the problems introduced by the different versions of Guzzle.

[2016-02-02 03:22] acrollet commented on #320
Looked into doing a PR for this but the interactions between this library and guzzle would take a lot of effort to make it work. Documenting an 'easy enough' approach here. To retrieve an asset, you can get its ID with a call to the releases method and call the following URL:

https://api.github.com/repos/REPOSITORY_NAME/USERNAME/releases/assets/ASSET_ID?access_token=ACCESS_TOKEN

It will return a

[2016-02-03 00:27] skwashd commented on #320
@acrollet this is untested, but what about something like this:

[code]

The guzzle docs say it will follow up to 5 302 redirect by default, so it **should** grab the asset file.

[2016-02-03 00:31] acrollet commented on #320
@skwashd I spent quite a bit of time on this ;) The redirects get followed, the issue is that S3 (where the files are stored) does't like seeing the auth token in the header. I experimented with using the url_token authentication method (deprecated) but S3 chokes on that as well. It went beyond the amount of time I could justify spending.

[2016-02-05 19:16] drupalninja commented on #305
I cannot get this to work either.

[2016-02-11 10:36] xabbuh commented on #343
@cursedcoder Can be close now that #353 is merged I think.

[2016-02-11 10:41] #343 closed

[2016-02-14 23:40] quickliketurtle commented on #313
This was resolved by PR#314

[2016-02-14 23:40] #313 closed

[2016-02-23 22:10] morozov opened #357 "Blobs API parses JSON file contents"
Currently it's impossible to get raw file contents of a JSON-encoded file (tested with v1.5.1):
[code]

A potential solution is to make `ResponseMediator` content type aware and only do `json_decode` in cases of `application/json`. Another approach is to not even try to `json_decode()` in case of Blob API because the return value is expected to be returned as is.

[2016-02-24 05:52] #357 closed

[2016-03-07 14:38] steveops opened #359 "Documentation of Issues / Comments API"
When getting all the comments on a given issue, the third parameter to all(...) should be the issue number and not the issue id as the current documentation says. I spent close to a whole hour trying to figure out why things were not working for me. I think you should update it so as to save somebody else that stress in future. Thanks.

[2016-03-11 04:00] newelement commented on #354
Yes is there a way to turn disable the exceptions for 404 resposes?

[2016-03-14 04:17] twardnw opened #360 "Validation Failed: Field "path" is invalid, for resource "Commit""
Following the example in [doc/repo/contents.md](https://github.com/KnpLabs/php-github-api/blob/master/doc/repo/contents.md) , I am receiving the error:

[code]
My code is
[code]

Any help is appreciated!

[2016-03-14 04:45] twardnw commented on #360
Also the same error when using the example to create a new file.

[2016-03-15 22:50] twardnw commented on #360
Seems this only happens when I am using rendered PHP to execute the tasks. Switching this to a command-line script works just fine.

[2016-03-15 22:50] #360 closed

[2016-04-07 16:12] gophry commented on #354
Guzzle parameter http_errors=>false to disable 404,500 client exceptions.

[2016-04-07 17:00] gophry commented on #350
* I can see the repository is empty. https://github.com/akmil/pashabrunch1.

AFAIK, same thing you test from curl

will return an empty json array.

the same for repositories for which branches exists:

[2016-04-07 22:32] morozov opened #364 "Cached HTTP client fails to cache non-UTF8 response"
The following code:
[code]
will produce:
[code]

The problem is caused not by the caching itself but by the fact that the Guzzle Response containing non-UTF8 body cannot json-encode itself. It [assumes that body is always a valid utf8-encoded string](https://github.com/guzzle/guzzle3/blob/v3.9.3/src/Guzzle/Http/Message/Response.php#L167).

[2016-04-16 00:46] StephenOTT opened #369 "How to change media type?"
Looking to use the PGP signature verification and need to change the media type for the commits api.
https://developer.github.com/v3/git/commits/#commit-signature-verification

Is this supported?

[2016-04-16 00:50] StephenOTT commented on #369
Looking at this: https://github.com/KnpLabs/php-github-api/blob/5720f828ea241eded6c6263249fa00b0a37650f4/lib/Github/Api/Repository/Commits.php

pretty sure media type change is only supported as part of `compare`?

[2016-04-16 02:25] StephenOTT commented on #369
Found the answer after some searching through the docs!
https://github.com/KnpLabs/php-github-api/blob/master/doc/customize.md

more specifically:
`$ghClient->getHttpClient()->setHeaders(['Accept' => 'application/vnd.github.cryptographer-preview']);`

For anyone that uses this at the moment note that the verification response is only given when a single SHA/Commit is queried.  If you query for a f

[2016-04-16 02:25] #369 closed

[2016-04-19 09:04] sharing-innovations-luong-phuc opened #371 "Need API list-comments-in-a-repository."
Dear @cursedcoder,

Because Github API has this API : https://developer.github.com/v3/pulls/comments/#list-comments-in-a-repository.
But I didn't find this API in source. If you know where is it, please tell me soon.

Thanks sir.

[2016-05-08 16:25] Soullivaneuh opened #374 "Implement: Pulls api repository"
This could be used like this:

[code]

https://developer.github.com/v3/pulls/

[2016-05-08 16:26] Soullivaneuh commented on #374
Ok I really need new glasses. This is already implemented.

Surely a no auto-completion panic, sorry for that.

[2016-05-08 16:26] #374 closed

[2016-05-16 05:52] nepsdotin opened #375 "How To implement logout"
Hi there,

How do I implement logout, that just logout from my webapp and not github.com

[2016-05-16 06:28] GrahamCampbell commented on #375
?

[2016-05-16 07:38] nepsdotin commented on #375
I would like to know, How do I implement logout or session invalidation from my webapp when using github api.

Whats happening is
1. When I clear all the cookies and login, page is redirected to github login page, it asks me to pucnch in the password, once done
2. I am redirected to main page of my web app
3. But when I move to differnt page and come back to my webapp login page, its taking me to

[2016-05-21 01:18] Vivalldi opened #378 "77: SSL: Can't Load CA Certificate File - yet works in a standalone example file."
Currently I have 2 separate PHP script. The first script is a standalone PHP file that I invoke using `php filename.php`. This file creates a new github client, authorizes and checks for a list of repos. The second script is part of a plugin in the Grav CMS that when attempting to check repos `$repositories = $github->api('user')->repositories($ghUsername);` fails returning the inability to open t

[2016-05-30 16:09] gaillafr opened #381 "Cannot list user's private repos ?"
Hi,

I'm not really sure but regarding the code and some tests I did we cannot list user's private repository (with appropriate scopes of course).

We can do something like that:
[code]

But regarding the official GitHub API doc, the purpose of the `user` (singular) is to make calls on its own account.

It looks like the package does not provide anything to make this kind of call:
`GET https://api

[2016-05-30 16:17] stof commented on #381
use ``->api('current_user')`` to access the ``user`` endpoint rather than the ``users`` one.

[2016-05-31 13:11] maartenwodan opened #382 "Projectlocatie aanpassing"
** Description: **
20960
Projectlocatie alleen bij urensoort gewerkt, niet meer meesturen bij andere uursoorten (ziek en vakantie)

** Notes: **

_Client: Vermaat _
_Contact: Evelien _
_Contact:  _
_Contact:  _
_Due:  _

[2016-05-31 13:11] maartenwodan opened #383 "Projectlocatie aanpassing"
** Description: **
20960
Projectlocatie alleen bij urensoort gewerkt, niet meer meesturen bij andere uursoorten (ziek en vakantie)

** Notes: **

_Client: Vermaat _
_Contact: Evelien _
_Contact:  _
_Contact:  _
_Due:  _

[2016-05-31 13:13] maartenwodan commented on #383
My bad. Testing api :-1: , it works, but not my brain.

[2016-05-31 13:13] #383 closed

[2016-05-31 13:13] maartenwodan commented on #382
My bad. Testing api :-1: , it works, but not my brain.

[2016-05-31 13:13] #382 closed

[2016-06-01 23:19] david-easymarkit opened #384 "Getting all branches"
Can't seem to figure out how to get all branches and by passing the limit per call.

I do not want to use pagination since I am populating the data into a select list.

[2016-06-03 11:16] roukmoute commented on #381
Can it close @gaillafr ?

[2016-06-03 15:00] visitek opened #385 "Guzzle is deprecated"
"guzzle/guzzle":   "~3.7"

guzzle/guzzle suggests installing guzzlehttp/guzzle (Guzzle 5 has moved to a new package name. The package you have installed, Guzzle 3, is deprecated.)

[2016-06-03 15:01] GrahamCampbell commented on #385
Duplicate. :)

[2016-06-03 15:01] GrahamCampbell commented on #385
https://github.com/KnpLabs/php-github-api/issues/157

[2016-06-03 15:02] #385 closed

[2016-06-03 15:03] visitek commented on #157
+1 for 5

[2016-06-03 15:04] GrahamCampbell commented on #157
Nah, I tried it. No offence, but it was pretty stupid. Ended up with like 100 more dependencies.

[2016-06-06 15:18] gaillafr commented on #381
Great, it works!
Thx.

[2016-06-06 15:18] #381 closed

[2016-06-12 14:03] Nyholm opened #390 "Use PSR-6 cache"
Once #389 is merged we should remove our custom cache layer and replace it with PSR-6.

[2016-06-21 20:32] abdielcs opened #391 "Null paginator finding repo by keyword."
I'm getting a null pagination searching repos by keyword. Maybe I'm missing something?

[code]

[2016-06-29 08:20] dennisoehme commented on #384
Pagination in branches request ist really important.

[2016-06-29 12:24] stof commented on #384
Use the ResultPager if you want to load all pages: https://github.com/KnpLabs/php-github-api/blob/master/doc/result_pager.md

There is simply no way to get all branches in a single call, as the github API is paginated and does not allow to disable pagination (which totally make sense as disabling pagination would hurt their servers for big lists)

[2016-06-29 12:45] dennisoehme commented on #384
Thx @stof!

[2016-07-11 08:28] Einenlum commented on #328
It is implented here : https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/User.php#L205

[2016-07-11 08:28] #328 closed

[2016-07-26 20:00] Geolim4 opened #399 "How to get the Forks ?"
Hi,

Is there a way to fetch forks, as per [Api documentation](https://developer.github.com/v3/repos/forks/) ?

Thanks you,
Georges.

[2016-07-26 20:02] Geolim4 commented on #399
Sorry i'm a dumb :'( i didn't read all the docs:
https://github.com/KnpLabs/php-github-api/blob/master/doc/repos.md#get-the-network-forks-of-a-repository

/closed

[2016-07-26 20:02] #399 closed

[2016-07-27 10:35] GrahamCampbell opened #400 "Was the 2.0.0 tag a mistake"
We have both an rc tag, and a stable tag?

[2016-07-27 19:29] GrahamCampbell commented on #400
I see you've got this fixed. :)

[2016-07-27 19:29] #400 closed

[2016-07-28 07:42] omidmaldar opened #401 "blob file download"
hi, I'm using this repo through @GrahamCampbell 's [ package](https://github.com/GrahamCampbell/Laravel-GitHub) for Laravel. I get error

I tried git, gitData and git-data with that but couldn't make it work. do you have any suggestion how can I use it for showing/downloading files bigger than 1MB in Laravel.
I tried something like this:
`$fileContent = GitHub::repo('git-data')->contents()->downlo

[2016-07-28 09:41] EnzChe opened #402 "Get the Archive stream"
Hello,

`$client = new Client();`
`$client->authenticate(Yii::$app->params['git_api_token'], Yii::$app->params['git_api_key'], Client::AUTH_HTTP_TOKEN);`
`$stream = $client->api('repo')->contents()->archive($projectOwner, $projectName, 'zipball');`
`$fileContent = $client->api('repo')->contents()->download($projectOwner, $projectName, 'installSMDE.bat');`
`var_dump($stream); exit;`

The contents()

[2016-07-29 07:45] cursedcoder commented on #402
Probably it was broken /cc @Nyholm

[2016-07-29 08:15] Nyholm commented on #402
The response is not empty. It is a 302 response.

I'll send a PR in a moment.

[2016-07-29 08:28] Nyholm commented on #402
There, @EnzChe try out the fix in #403.

Also, @cursedcoder, thank you for the ping.

[2016-07-29 10:02] EnzChe commented on #402
Thanks, #403 is working and solving this issue.

[2016-07-29 10:02] #402 closed

[2016-07-29 10:41] Nyholm commented on #390
I think this should be done before tagging 2.0. I'll start working on a PR right now. Ping @cursedcoder

[2016-07-29 13:15] #390 closed

[2016-07-29 14:35] GrahamCampbell opened #407 "Adding cache doesn't work"

[2016-07-30 09:04] GrahamCampbell opened #409 "Slightly broken internal libraries"
Just putting this here to remind me to fix it:

![image](https://cloud.githubusercontent.com/assets/2829600/17269322/1ea159a4-5613-11e6-8d88-d0d8389c87c7.png)

[2016-07-30 09:07] GrahamCampbell commented on #409
Meh, https://github.com/php-http/client-common/pull/33.

[2016-07-30 09:17] #407 closed

[2016-07-30 09:56] GrahamCampbell commented on #384
This can be closed now?

[2016-07-30 10:20] GrahamCampbell commented on #409
Actually, no, we're missing using it.

[2016-07-30 10:27] GrahamCampbell opened #411 "Setting the api_version broken on master"

[2016-07-30 18:47] Nyholm commented on #411
Are you also using setEnterpriseUrl?

What API are you using?

[2016-07-30 21:47] GrahamCampbell commented on #411
The code is essentially this:

[code]

[2016-07-30 21:47] GrahamCampbell commented on #411
All this stuff was working before the psr6 stuff came in.

[2016-07-30 21:48] GrahamCampbell commented on #411
Basically, it's https://github.com/GrahamCampbell/Laravel-GitHub/tree/master/src.

[2016-07-30 22:50] Geolim4 opened #412 "Get commit signature"
Hi,

Is it a bug that the commit signature is not provided, or did you just follow the [Commit Signature Verification notice](https://developer.github.com/v3/repos/commits/#commit-signature-verification) ?

Cheers,
Georges.L

[2016-07-31 09:29] cursedcoder commented on #412
For that you need to set your `Accept` header to `application/vnd.github.cryptographer-preview` as per documentation.

In this library by default version is set to `v3`, see https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Client.php#L368

[code]

[2016-07-31 09:29] #412 closed

[2016-07-31 09:41] #409 closed

[2016-07-31 09:44] #384 closed

[2016-07-31 10:10] GrahamCampbell commented on #411
Calling `$client->clearHeaders();` after fixed it.

[2016-07-31 10:20] Nyholm commented on #411
Interesting. I'll try to debug this tonight.

[2016-07-31 10:25] GrahamCampbell commented on #411
I guess it's pretty clear why it's happening, right. The setOptions method doesn't mark the headers as old?

[2016-07-31 13:05] Nyholm commented on #411
Fact is, the Accept header was not set at all until you call `clearHeaders`. Please try the patch in PR #415 to see if it works.

[2016-08-01 07:38] #411 closed

[2016-08-01 08:20] GrahamCampbell opened #420 "Exception handling still broken"
Even after that fix was merged, stuff is still broken:

![image](https://cloud.githubusercontent.com/assets/2829600/17287722/37ab8c00-57c9-11e6-8fc9-1b8488feaaaf.png)

[2016-08-01 08:51] GrahamCampbell commented on #375
I don't think this is within the scope of the issues for this repo?

[2016-08-01 08:51] Nyholm opened #421 "Use Symfony/options-resolver"
Since #419 we have 3 constructor arguments. It is likely that a new feature will require a 4th one. It could be better to use an array instead. Especially for string/bool arguments.

[code]

These should be validated with the symfony option resolver and then stored an separate instance variables (like today)

[2016-08-01 08:55] GrahamCampbell commented on #421
Nah, I think that's overkill, and we'd likely want to avoid adding more stuff to the constructor anyway. I can't think of any use cases?

[2016-08-01 08:57] Nyholm commented on #421
It may be overkill. But it is more future proof. Maybe this can be saved to 3.0 if we notice that we have 5+ constructor arguments.

[2016-08-01 08:57] #421 closed

[2016-08-01 09:27] Nyholm commented on #420
For the record: This will be fixed by https://github.com/php-http/client-common/pull/35

[2016-08-08 14:39] syropian opened #430 "Support per_page param on paginated resources"
Per the Github API docs on [pagination](https://developer.github.com/guides/traversing-with-pagination/)

Is this currently possible? I didn't see it within the `Result Pager` docs.

I could probably create a PR for this if no one else wants to tackle it.

**Edit:** I didn't check every resource, but I noticed `starring()->all()` only supports a page param. It's actually a little odd that a functi

[2016-08-13 15:51] sarahmonster opened #432 "How to get a list of closed milestones?"
I can't seem to get a list of closed milestones output. Here's the code I'm using:

`$milestones = $client->api( 'repo' )->milestones( $user, $repo, array( 'state' => 'closed'  ) );`

And, as of #154, this should work as well:

`$milestones = $client->api( 'repo' )->milestones( $user, $repo, array( 'state' => 'all'  ) );`

But for some reason, I always get the same list returned—just open mileston

[2016-08-13 15:58] sarahmonster commented on #432
Turns out I was reading the docs for a fork and found the correct code. Sorry for the noise!

[2016-08-13 15:58] #432 closed

[2016-09-12 15:27] #43 closed

[2016-09-16 10:10] mihai-mocanu opened #436 "Support user received/performed private events"
Is there any support for:
https://developer.github.com/v3/activity/events/#list-events-that-a-user-has-received
https://developer.github.com/v3/activity/events/#list-events-performed-by-a-user

I could not find any methods for this.
If there is not will it be soon?
If I start doing it do I have any chance of it to be merged as soon as it is done?

[2016-09-19 12:06] Geolim4 opened #437 "Support for newly-shipepd feature: Projects"
Hello,

Recently Github shipped a new feature: Projects
Is there a pull request/update coming ?
Else i can handle this :)

Cheers,
Georges

[2016-09-20 10:02] cursedcoder commented on #437
Yeah feel free to contribute that @Geolim4

[2016-09-20 19:20] Geolim4 commented on #437
Ok got it :)

[2016-09-26 17:47] vchav73 opened #440 "Accessing private repos"
I am trying to access a private repo using this code:

[code]
The above code always returns this:
[code]
When I use a public repo it works fine. I've tried using both OAUTH application and personal access tokens but neither are working for me. Is anyone able to access private repos with this package?

[2016-09-26 19:15] GrahamCampbell commented on #440
Yes, works fine for me. It's used in production on https://styleci.io/.

[2016-09-27 17:54] Geolim4 commented on #437
Did i absolutely need to provide tests with the new API endpoints ?
I'm not a regular user of PhpUnit so I'm not sure how to make them work without broking the build.

[2016-09-28 04:32] cursedcoder commented on #437
@Geolim4 I think tests with mocks are enough.
You can take any other tests as a pattern, as they all very similar.
If anything breaks we will help you.

[2016-10-02 00:41] Tjoosten commented on #308
error stack?

[2016-10-05 13:05] mcharytoniuk commented on #430
It would be especially useful in `api('repo')->branches(...)`. I am working on a big project with >30 branches and this parameter is not supported.

[2016-10-07 14:22] vchav73 commented on #440
Got this to work after some fiddling.

[2016-10-07 14:22] #440 closed

[2016-10-14 23:10] morozov commented on #364
Can be closed as it's no more reproducible on 2.x:
[code]

[2016-10-14 23:10] #364 closed

[2016-10-15 02:15] morozov commented on #337
Could you please provide the example of `($vendor, $repo, $path_to_image)`? It works for me:
[code]
Outputs:
[code]

[2016-10-15 11:54] artygrand commented on #337
@morozov Уже не помню, что там было почти год назад
Но, судя по коду, я не смог скачать картинки из этой папки https://github.com/artygrand/test/tree/master/assets

    //$file = GitHub::repo()->contents()
    //    ->download($vendor, $repo, 'assets/screenshot-' . $i . '.jpg');
    $response = $client->getHttpClient()
        ->get('repos/' . rawurlencode($vendor) . '/' . rawurlencode($repo) . '/

[2016-10-16 07:07] Nyholm opened #447 "Do we need our RuntimeException?"
Are we expecting someone to catch our RuntimeException? I suggest removing it.

[2016-10-16 09:23] GrahamCampbell commented on #447
I use it. :P

[2016-10-16 11:37] Nyholm commented on #447
Okey. Is there a reason why you don't catch \RuntimeException or \Github\Exception\ExceptionInterface?

If so, I'm happy to close this issue.

[2016-10-16 12:02] GrahamCampbell commented on #447
Not all exceptions extend runtimeexception here.

[2016-10-16 13:33] Nyholm commented on #447
Of course.
I was reviewing the exceptions and there are too many undefined ones. (Or unclear)

I was thinking that one could split them up into two groups. "Before we send a request"-exception and "request and after request"-exception.

That would mean that we would have exceptions more specific than ErrorException.

This change would only affect the base exception (the once we inherit from).

The

[2016-10-17 08:42] Nyholm commented on #337
Please have the discussion in English so others can follow as well. =)

[2016-10-17 09:10] artygrand commented on #337
@Nyholm, lol, look to date of issue. no need to discuss it.

[2016-10-18 16:50] #337 closed

[2016-10-18 16:53] cursedcoder commented on #436
of course you can make a PR, but I can't guarantee it will be merged when you expect
meanwhile your PR is in progress you may use your own source i.e.

[code]

[2016-10-19 00:40] #437 closed

[2016-10-19 00:40] #359 closed

[2016-10-19 11:16] mdkholy opened #455 "202 response code"
Some API endpoints like [repo statistics endpoints](https://developer.github.com/v3/repos/statistics/#a-word-about-caching) may send a `202 Accepted` response code which means that Github has accepted the request, but the processing has not been completed. Is there a way I could fetch the response status code and act upon it? Another possible workaround is to add an http plugin that detects those

[2016-10-19 19:17] Nyholm commented on #455
Hm, you could always use `GitHub::getLastResponse()->getStatusCode()`. That would give you the status code for the last response.

[2016-10-19 21:28] mdkholy commented on #455
Ah, thanks! that should do it ;-)

[2016-10-19 21:28] #455 closed

[2016-10-20 09:25] Nyholm opened #457 "Add changelog"
Is that something we want?

It will be easier to keep track of changes like the one in #441

[2016-10-24 14:40] jbrooksuk commented on #157
This can be closed, can't it?

[2016-10-24 19:33] GrahamCampbell commented on #157
Just read my last comment here. :trollface: :trollface: :trollface: :trollface: :trollface:

[2016-10-25 03:40] #157 closed

[2016-10-25 03:41] cursedcoder commented on #457
good idea

[2016-10-25 09:24] Nyholm commented on #457
Thank you. I'll make sure to add one then. I'll try do it later today

[2016-10-25 17:12] Nyholm opened #461 "Use a factory or a configurator for the HTTP client"
We should refactor away all the code in `Github\Client` into a HTTP client configurator of some kind. That would increase interoperability and clear up the responsibility.

[2016-11-01 05:36] etopian opened #464 "Add ability to create keys"
The ability to create and update keys should be added to user. Something trivial to do.

https://developer.github.com/v3/users/keys/

[2016-11-01 23:36] gemal opened #465 "dont depend on guzzle/guzzle"
guzzle/guzzle is deprecated and guzzlehttp/guzzle should be used instead

https://packagist.org/packages/guzzle/guzzle

[2016-11-01 23:40] kokspflanze commented on #465
already changed for version 2, check https://github.com/KnpLabs/php-github-api/blob/master/composer.json#L19

[2016-11-02 06:33] #465 closed

[2016-11-02 06:35] #457 closed

[2016-11-04 13:50] lbausch opened #467 "Get a single public key"
https://developer.github.com/v3/users/keys/#get-a-single-public-key

Is this already possible with the latest version?

[2016-11-22 13:22] devboxr commented on #440
Having the same issue, care to share how you ended up getting this to work?

[2016-11-22 13:34] devboxr opened #471 "Cannot get private repositories"
Created an oAuth application for our Organisation.

Trying to use this code:

[code]

Throws an `Requires authentication` exception.

I also tried:

[code]

Any idea? It doesn't seem to authorise at all and the `authenticate` method returns `null`.

[2016-11-22 14:09] devboxr commented on #471
I tried a few things more, like retrieving an `access_token` with the `repo` scope, but this only gives me access to my personal repositories and the public ones of the organisation I'm trying to access.

Any help would be great.

[2016-11-23 00:31] vchav73 commented on #440
I had to switch to a different auth method to get it to work. Below is a snippet based on working code. The snippet adds an issue to a Github repo. The github token is generated from your github account. It's in Settings->Personal access tokens.

[code]

[2016-11-23 06:45] Nyholm commented on #440
What authentication method did not work? It is a good idea to document this in the read me.

@chav73 could you create a PR?

[2016-11-23 10:56] gpc-bot opened #473 "The issue title"
The issue body

[2016-11-23 16:38] vchav73 commented on #440
I was trying to use AUTH_URL_CLIENT_ID. Possibly I just don't understand GitHub's OAuth flow well enough. In any case, I was in a hurry, gave up, and used AUTH_HTTP_PASSWORD instead. That is all the details I remember as it was over a month ago that this happened.

[2016-12-02 14:51] BR0kEN- opened #474 "Allow getting README contents in different formats"
For now, with API v3, we can get the contents of `README.md` in `raw` format or as rendered `html`. To do so request should contain `Accept` header with one of values described in documentation: https://developer.github.com/v3/repos/contents/#custom-media-types.

My proposition - is to add the third argument (`$format = 'raw'`) to the `readme()` method of `\Github\Api\Repo` class and empower the r

[2016-12-04 11:26] acrobat opened #476 "2.0 stable release"
Is there an eta of when we can expect the 2.0 stable release? Or is there a issue/milestone with work left before a stable release? I would be able to help and finish the release

Thanks!

[2016-12-04 11:33] Nyholm commented on #476
I've been talking around with people at SymfonyCon last week. We all want to see a stable version. I will go though all issues, PRs and make a code review to see if we are ready. I will do this as soon as possible (today or tomorrow). Please do the same and we can see if we have the same result.

[2016-12-04 11:54] acrobat commented on #476
Ok, I will try to make some time for it! Thanks for the quick reply!

[2016-12-04 12:31] Nyholm commented on #474
This can be closed.

[2016-12-04 12:32] Nyholm commented on #473
This can be closed.

[2016-12-04 12:32] Nyholm commented on #471
Have you seen #440 ?

[2016-12-04 12:33] Nyholm opened #477 "Document how to access private repos"
Question in #471 and the solution is in #440.

This should be somewhere in the readme.

[2016-12-04 12:35] Nyholm commented on #420
Is this till an issue? Can it be closed?

[2016-12-04 12:45] Nyholm commented on #351
This issue can be closed. We use HTTPlug which allows you to configure the HTTP client yourself.

[2016-12-04 12:47] Nyholm commented on #476
I want to investigate if #447 is a good idea.
I would also like to send a PR for #461

[2016-12-04 13:33] BR0kEN- commented on #474
PR is merged, - so yep, can be. Thanks.

[2016-12-04 13:33] #474 closed

[2016-12-04 14:34] acrobat commented on #467
It is possible by using the currentuser api.

[code]

I've created a PR #478 to add the missing docs for this api.

[2016-12-04 14:41] acrobat commented on #464
This is already implemented and possible through the currentuser -> keys api.

[code]

I've created a pull request to add the missing docs for the public keys api. See #478

[2016-12-04 19:10] Nyholm commented on #447
I did not find anything that I strongly think we should change.

Thank you for the feedback.

[2016-12-04 19:10] #447 closed

[2016-12-05 09:38] lbausch commented on #467
I used `$client->me()->keys()->show('1234');` and this worked perfect. Thank you :)

[2016-12-05 09:38] #467 closed

[2016-12-06 09:25] #464 closed

[2016-12-06 09:25] #420 closed

[2016-12-06 09:26] #340 closed

[2016-12-06 09:27] #350 closed

[2016-12-06 09:27] #351 closed

[2016-12-06 09:29] #473 closed

[2016-12-06 11:00] Nyholm commented on #476
As far as I can see; my PR #480 is the only blocker for tagging a new release candidate. That RC will most likely to be the last one

[2016-12-06 19:53] acrobat commented on #308
@cursedcoder I think this issue can be closed as the issue creator user is deleted

[2016-12-06 19:56] acrobat commented on #297
@cursedcoder I think this issue can be closed as the search api already uses the new search. See https://github.com/KnpLabs/php-github-api/pull/300#issuecomment-127915453

[2016-12-06 20:15] acrobat commented on #292
@cursedcoder issue can be closed. The missing parameter was added in #388 and I've created a PR (#483) for the incorrect parameter name.

[2016-12-07 09:07] #308 closed

[2016-12-07 09:13] #292 closed

[2016-12-09 13:19] #461 closed

[2016-12-09 13:20] #306 closed

[2016-12-09 13:37] Nyholm commented on #476
#472 removes some code. After that we are good to go =)

[2016-12-09 13:38] GrahamCampbell commented on #476
Probably an idea to deal with https://github.com/KnpLabs/php-github-api/pull/481 too.

[2016-12-09 13:40] Nyholm commented on #476
Agreed. @cursedcoder is usually working in batches. (right now is such batch). I think #481 is included in this batch. =)

[2016-12-12 00:10] GrahamCampbell opened #486 "2.0 Release Broke Setting The Version"
Worked on 2.0.0-RC4, broken on 2.0.0.

[2016-12-12 00:13] GrahamCampbell commented on #486
I'm still passing the API version as parameter 2 to the Client's constructor, but now it doesn't get set. There are literally no other code changes. If I revert the upgrade, then it works.

The upgrade commit in the wrapper library for reference: https://github.com/GrahamCampbell/Laravel-GitHub/commit/23fb9dea6f13f072dc38791ad3b67650e1238432.

[2016-12-12 00:57] Nyholm commented on #486
Can you confirm that #487 fixes you issue?

[2016-12-12 01:12] GrahamCampbell commented on #486
Will do tomorrow. Need to sleep. :)

[2016-12-12 11:49] acrobat commented on #476
[2.0.0 is released](https://github.com/KnpLabs/php-github-api/releases/tag/2.0.0)

[2016-12-12 11:49] #476 closed

[2016-12-12 11:55] GrahamCampbell commented on #486
Yes, I can confirm your PR fixes the issue.

[2016-12-13 13:10] #486 closed

[2016-12-19 19:07] m1guelpf opened #488 "[Notification] Get notification by id"
I want to get a single notification info by using notification ID.
Github DOCS: https://developer.github.com/v3/activity/notifications/#view-a-single-thread
(Using Laravel-Github)
Thank you!

[2016-12-19 19:34] m1guelpf commented on #488
Fixed in #489

[2016-12-20 14:59] #488 closed

[2016-12-21 18:30] m1guelpf opened #491 "Composer?"
When will #489 and #490 be added into the composer package?
Thank you!

[2016-12-21 18:32] Nyholm commented on #491
If you wonder when we will tag a new release? We usually gather a bunch of features and fixes together and then tag a new release.

You can still download the latest from master by requiring `"knplabs/github-api":"dev-master"`.

[2016-12-21 18:36] m1guelpf commented on #491
@Nyholm Thank you!

[2016-12-21 18:36] #491 closed

[2016-12-22 09:23] m1guelpf opened #492 "Conditional requests?"
Does this api support [Conditional Requests](https://developer.github.com/v3/#conditional-requests)?
If it doesn't, how can I try to add it?
It's a great feature that allows to increase the rate limit.

[2016-12-22 09:35] Nyholm commented on #492
Sure, have a look at https://github.com/KnpLabs/php-github-api#cache-usage

[2016-12-23 18:42] m1guelpf opened #493 "Mark notifications as read isn't working"
[code]

[2016-12-28 16:27] crossan007 opened #494 "Get Latest Pre-Release"
It seems that there is no way to get the latest pre-release from a repository.

#269 seems to hint at this, but rather asks for only *non* pre-releases, as opposed to *only* pre-releases

[2017-01-06 13:23] m1guelpf commented on #493
Any updates on this?
I need this feature!

[2017-01-06 13:42] Nyholm commented on #493
Can you debug this a bit more? How come it is not working? What should be done in order to fix it?

[2017-01-07 01:27] mattparksjr opened #496 "Update doc of issues and pull request"
Currently, lets say you use this code:
`$issues = $client->api('issue')->all('Lexium-Tech', 'GIAPB-test', array('labels' => 'GIAPB-Close'));`
There is no telling what the array contains, SO I think it would be nice to add a tid bit to the documentation about what exactly the array returns. Check out the output for the var_dump on the code above:
[code]
As you can see I have to go through this arra

[2017-01-07 01:30] xXXIMMATTHEWXXx commented on #375
This does not appear to relate to this. If your talking about a login system. Check out this: https://github.com/DeveloperShed/BasicSecureLogin

[2017-01-07 01:36] xXXIMMATTHEWXXx commented on #378
cacert.pem MUST be included in php.ini like such `curl.cainfo="path \ to \ cacert.pem"`

[2017-01-07 02:55] xXXIMMATTHEWXXx commented on #496
I also thinks the docs should explain what errors mean, for ex: `
Fatal error: Uncaught exception 'Github\Exception\RuntimeException' with message 'Not Found' in C:\mynewdev\htdocs\vendor\knplabs\github-` makes no sense

[2017-01-07 08:50] Nyholm commented on #496
Thank you for this issue. Have you seen the API documentation at Github? https://developer.github.com/v3/issues/

[2017-01-07 18:15] xXXIMMATTHEWXXx commented on #496
Yes. These errors are thrown by this project. Note i did fix this, multi-dementional arrays are not fun :(. Anywho i think this still could be added

[2017-01-09 12:23] arsenik opened #497 "Trying to merge a PR : Base branch was modified. Review and try the merge again."
Getting sha from master

[code]
Creating a branch from master with
[code]
Removing a file
[code]
Create a PR
[code]
Merge PR, I get ```Base branch was modified. Review and try the merge again.```
[code]

Base branch is master and I just created a branch from it at the beginning, how come it can be modified if no one pushed anything on master during this process?

[2017-01-10 19:57] m1guelpf opened #498 "Using the Traffic API"
Do you have anything for the traffic API?
It isn't in the docs...
https://developer.github.com/v3/repos/traffic/
Thank you!
See #548

[2017-01-11 22:48] ksdev-pl opened #502 "Question about a problem with v. 2 cache - missing cache files"
Hi

A v. 2.0.1 noob question:

In the v. 1.*  to use the cache I've used:

[code]

I see the cache files using this code, so I know they are created.

In the v. 2 I've tried the `php-cache/filesystem-adapter`:

[code]

The end result is the same as in the v 1.* - that is, I'm successfully downloading a list of gists from github. During debugging I've checked that the cache plugin is added correctl

[2017-01-12 08:41] Nyholm commented on #502
Thank you for a detailed issue. I've copied your code and tested it myself. It all seams to work properly.

The only thing I'm not familiar with is `storage_path`. I replaced it with
[code]
This will create a cache folder next to the current file. In that cache folder there your cache files will appear. (Be aware that IDEs could be quite slow in showing new files.)

[2017-01-12 08:50] ksdev-pl commented on #502
Thank you for the answer. I will test it later again and I'll let you know.

[2017-01-13 21:26] ksdev-pl commented on #502
I've made more tests:

When I'm not authenticating, this code produces a cache file:

[code]

But when I add authentication, no cache file is created:

[code]

In both cases the end result is correct and without errors, the gists are downloaded.

Am I doing something wrong? What can be the reason of missing cache files with authentication? Or how can I debug it to narrow down the problem?

[2017-01-16 21:40] trip-somers opened #506 "php-http/client-implementation -- no matching package found"
I'm not sure what I'm missing, but I don't see that anyone has raised this issue yet. I'm trying to upgrade from v1.7.1, and I'm running into this dependency error:

[code]

I looked at php-http on Github, and I don't see that package at all. Did it get renamed recently? Is it private? Did something else change that I'm not aware of?

[2017-01-16 21:47] trip-somers commented on #506
This worked after I added "php-http/guzzle6-adapter" to my composer.json.

[2017-01-16 21:47] #506 closed

[2017-01-17 08:57] Nyholm commented on #506
`php-http/client-implementation` is a virtual package. See our readme or http://docs.php-http.org/en/latest/httplug/users.html

[2017-01-23 09:29] m1guelpf opened #507 "Changing accept header"
How can I change the accept header?
Thank you!

[2017-01-25 12:20] acrobat commented on #507
Just pass it to the [client constructor](https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Client.php#L116)

Example:

[code]

[2017-01-25 13:45] #507 closed

[2017-01-26 04:09] jdc1898 commented on #471
Were you ever able to get "print_r($repo = $client->api('organization')->repositories('SamKnows')); // Only shows public ones" to work?
I am able to manipulate resources post auth on a private repo, but I can't list the private repo's linked to the authenticated user.

[2017-01-26 16:31] david-easymarkit commented on #384
Thanks @stof

[2017-01-26 19:54] Nilithus opened #511 "EnterpriseUrl Prepend Path causes bad URI's"
Hello

I'm using version `2.0.1` and we have an github enterprise url so I'm creating my client as
[code]

However I think there seems to be a bug [here](https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Client.php#L318). The `PathPrepend` Plugin adds `/api/%s/` Which when requests are made will create bad uri's. Such as `http://enterpriseGithub/api/v3//repo/....` Note the `//`. Whe

[2017-01-26 21:28] jdc1898 opened #512 "List members of an Org"
I wanted to see if someone could add the following to the Organization.php file?

`
    /**
     * Get organization memberships by its name.
     *
     * @link https://developer.github.com/v3/orgs/members/#members-list
     *
     * @param string $organization the organization to show
     *
     * @return array information about the organization
     */
    public function showOrganizationMember

[2017-01-27 09:53] Nyholm commented on #511
Thank you @Nilithus. You are correct. I have created a PR to fix this issue

[2017-01-27 15:52] Anahkiasen commented on #502
Same issue here, as far as I can see cache is not created when authenticated

[2017-01-27 18:06] Dgame opened #514 "Status API and Review API"
I would like to see support for the [status API](https://developer.github.com/v3/repos/statuses/) as well as (as soon as finished) the [review API](https://developer.github.com/v3/pulls/reviews/). Is it possible to get that in the near future? :)

[2017-01-27 21:06] xabbuh commented on #514
I have a working draft for the PR reviews API locally. I will create a PR for it during this weekend.

[2017-01-28 05:30] #511 closed

[2017-01-28 16:51] Anahkiasen commented on #502
It seems the issue is [this line](https://github.com/php-http/cache-plugin/blob/master/src/CachePlugin.php#L188) in the HTTP CachePlugin, since all Github responses return the `private` Cache-Control directive, nothing is ever cached.

But that directive is only for shared caches, you _are_ allowed to cache the response into a private cache, which is my usecase.

Related issue on php-http's end ht

[2017-01-31 11:27] Dgame commented on #514
Any progress on this matter? I could help if you want.

[2017-01-31 11:50] m1guelpf commented on #514
I could also help.

[2017-01-31 13:29] xabbuh commented on #514
Ah sorry, I forgot to create the PR. You can have a look at an earlier state of the draft at https://github.com/xabbuh/php-github-api/tree/review-api. I will push the latest changes when I am back home tonight and create the PR then.

[2017-01-31 17:06] offsky opened #516 "Add "Find installations" wrapper to Integrations"
There is an API call you can make to fetch your installations.

`GET /integration/installations`
Referenced here: https://developer.github.com/v3/integrations/

This can easily be added to Api/Integrations.php by adding these lines:

[code]
I realize that this can be accomplished using the generic `$github->getHttpClient()->get('integration/installations')`, but this convenience method would be ni

[2017-01-31 20:58] xabbuh commented on #514
see #517

[2017-02-01 09:39] m1guelpf commented on #516
@offsky Why don't you make a PR?

[2017-02-01 17:20] Nyholm commented on #516
I would be happy to see a PR like that.

[2017-02-01 19:44] offsky commented on #516
I am sorry, but I dont have time right now to make a PR, but I'll put it on my to-do list.

[2017-02-03 20:53] shawnsandy opened #521 "Gist pagination, returning all gists?"
I have been trying to use the `result_pager` to paginate links but it seem I can never get all my gist. What am I missing here??? how can I get to list 100+ (all if possible) gist results.

Any help appreciated
Thanks

[2017-02-07 10:45] Kyslik commented on #492
Any progress on this?

[2017-02-07 12:06] #492 closed

[2017-02-07 12:07] m1guelpf commented on #492
@Kyslik Yep, it integrates automatically.

[2017-02-07 19:27] Dgame commented on #514
Nice. The only thing that I'm missing now is the Status API. :)

[2017-02-11 05:04] Tjoosten commented on #360
Can u explain a little more i ran into the same issue.

[2017-02-13 18:11] offsky opened #526 "View GitHub response headers"
When GitHub responds to a request, they set headers in the response that tell you the current rate limiting values as well some information about scopes.

https://developer.github.com/v3/oauth/#scopes
https://developer.github.com/v3/#rate-limiting

It would be nice if there was a way to get this information from this library.

[2017-02-13 21:56] acrobat commented on #516
I've added this method in #527

[2017-02-14 19:18] acrobat commented on #502
Hmm this indeed explains the problem I have that nothing is cached, hopefully we have some kind of solution soon!

[2017-02-16 07:44] acrobat commented on #526
If you just want to view this info, you could add a logger to the builder class. This way you will receive the full request info in the logs

[code]

[2017-02-21 12:18] #516 closed

[2017-02-21 12:58] acrobat commented on #514
@Dgame I think this issue can be closed as the [status api is already implemented](https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Repository/Statuses.php)

[2017-02-21 13:03] Dgame commented on #514
Oh, how could I overlook this? 😄  Thank you.

[2017-02-21 13:03] #514 closed

[2017-02-23 11:43] Nyholm opened #530 "New minor release"
Are we ready to make a new minor release? What else do we want to include?

[2017-02-27 19:16] acrobat commented on #530
If possible I would like to wait for a new release of the php-http/cache-plugin and merge #531. This way caching is fixed in the new minor release!

[2017-02-27 19:21] acrobat commented on #512
Hi @jdc1898, this method is already included in the api. See [Organization/Members](https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Organization/Members.php#L13)

@Nyholm this issue can be closed!

[2017-02-28 12:33] Nyholm commented on #530
We could always do two minor releases =)

[2017-02-28 12:36] acrobat commented on #530
Nevermind than :D

[2017-03-06 04:19] itsmill3rtime opened #535 "Test api create title"
lalalala

[2017-03-06 06:32] m1guelpf commented on #535
@itsmill3rtime ??

[2017-03-06 07:49] Nyholm commented on #535
Closing this because of nonsens.

[2017-03-06 07:49] #535 closed

[2017-03-07 21:31] bobeagan opened #537 "Example to POST to any route?"
I've been struggling to figure out how to create a [POST request to a non-supported route](https://github.com/KnpLabs/php-github-api/blob/master/doc/request_any_route.md) (pull request review request) basedon  and have been getting cryptic error messages from GitHub with what I have so far:

[code]

Returns: `Invalid request.  For 'links/0/schema', nil is not an object.`

[2017-03-08 06:55] m1guelpf commented on #537
@bobeagan You can:
1. Check the code for the endpoint: There are some undocumented methods.
2. Make a PR adding that endpoint

[2017-03-08 14:44] bobeagan commented on #537
[Review requests](https://developer.github.com/v3/pulls/review_requests/) are different than reviews, I've already checked the code and support for it does not exist.  While I could make a PR, I'm really just looking to clarify and see an example of how to perform a POST using `getHttpClient()->post()`.

[2017-03-08 15:23] m1guelpf commented on #537
@bobeagan The GetHTTPClient code is https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/HttpClient/Builder.php#L93

[2017-03-08 15:36] bobeagan commented on #537
For anyone that runs up against this in the future, the parameters for the `getHttpClient->post()` are `uri, `headers` and then `body`.  You need to send an empty array as the second (headers) parameter and then remember to `json_encode` your third (body) parameter.

The end result looks like:
`$githubClient->getHttpClient()->post('/repos/' . $payload->repository->full_name . '/pulls/' . $payload-

[2017-03-08 15:36] #537 closed

[2017-03-08 17:49] bobeagan commented on #371
It is possible [here](https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/PullRequest/Comments.php#L20) but should probably be pulled out to its own method so that it can support the `sort`, `direction`, and `since` parameters.  Also, it is not indicated in the docs currently that this is possible.

[2017-03-09 16:55] offsky opened #538 "setPerPage doesn't work in some cases"
This doesn't work:
[code]
The reason is because the api adds a "?since=1234" to the path and then another "?per_page=100" is added to the path to make an invalid url. The second ? should be an &.

Here is the solution:
AbstractAPI.php::get()

[code]

Pull request incomming

[2017-03-16 17:36] whoacowboy opened #540 "Trailing slash in enterprise url breaks query, fixed in master but exists in tag 2.0.1"
The trailing slash is messing up the query in tag 2.0.1

[Tag 2.0.1](https://github.com/KnpLabs/php-github-api/blob/2.0.1/lib/Github/Client.php#L318)

        $builder->addPlugin(new PathPrepend(sprintf('/api/%s/', $this->getApiVersion())));

[Master](https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Client.php#L324) works

        $builder->addPlugin(new PathPrepend(sprintf('/api/%

[2017-03-18 13:17] demianchuk opened #541 "Question about cache"
Hi,

In docs there is next info: "Using cache, the client will get cached responses if resources haven't changed since last time"

What does it mean: "resources have not changed"?
In which time cache will be expired?
Is it possible to set ttl parameter via some setter?

Thanks

[2017-03-18 13:47] GrahamCampbell commented on #541
A web server can respond with "304 Not Modified".

👎 for allowing setters. I think our objects should be immutable, configured at construction.

[2017-03-18 13:47] GrahamCampbell commented on #541
In fact, further to this, in the case of GitHub, requests that result in a 304 response won't count towards your rate limit.

[2017-03-19 08:14] demianchuk commented on #541
Ok, thanks for answer.
But as for me it would still good to have some possibility to set max ttl via configuration

[2017-03-19 08:14] #541 closed

[2017-03-20 08:34] Nyholm commented on #540
Yes, correct. You are asking for a new tag, right?

[2017-03-20 14:59] whoacowboy commented on #540
That would be great, thanks.

[2017-03-22 19:41] m1guelpf commented on #530
@Nyholm So then, when are you going to tag a new minor release?

[2017-03-22 20:01] Nyholm commented on #530
Yes. I started to prepare but got interrupted. Will do tomorrow

[2017-03-23 08:09] Nyholm commented on #540
New tag is coming up within a few minutes. See #542

[2017-03-23 08:09] #540 closed

[2017-03-23 08:09] Nyholm commented on #530
Just a few minutes away. Will then merge some PRs and make 2.3.

See #542

[2017-03-23 08:09] #530 closed

[2017-03-23 08:29] m1guelpf commented on #530
@Nyholm Thank you! Just updated OrgManager to use the new version.

[2017-03-23 08:31] Nyholm commented on #538
Thank you for this issue.

May I propose an alternative solution. In `User::all()` we should use parameters instead of using inline query..

[code]

[2017-03-23 08:39] Nyholm commented on #512
Thank you @acrobat for a good answer

[2017-03-23 08:39] #512 closed

[2017-03-23 09:25] Nyholm commented on #494
We have some new docs here: https://github.com/KnpLabs/php-github-api/blob/2.1.0/doc/repo/releases.md#get-latest-actual-release

[2017-03-23 09:25] #494 closed

[2017-03-23 09:28] Nyholm opened #543 "Release 2.2"
I want to tag a new minor release with:
* #532
* #531

and hopefully #499

[2017-03-24 08:17] Nyholm commented on #543
I replaced this issue with a milestone

[2017-03-24 08:17] #543 closed

[2017-03-24 08:17] Nyholm commented on #526
Awesome. @offsky would you mind sending a PR?

[2017-03-26 12:39] #498 closed

[2017-03-26 12:44] #538 closed

[2017-03-26 12:44] #526 closed

[2017-03-26 12:54] Nyholm opened #549 "Make sure configure returns $this"
We need to make sure all our `configure()` calls returns `$this`.

This is blocked by #532

[2017-03-26 12:54] Nyholm opened #550 "Add change log for 2.2"

[2017-03-27 20:45] bobeagan commented on #549
I believe this should be good, the only `configure()` that doesn't is in the AbstractApi https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/AbstractApi.php#L37

[2017-03-28 07:26] Nyholm commented on #549
Thank you!

[2017-03-28 07:26] #549 closed

[2017-03-28 07:27] #502 closed

[2017-03-28 07:59] #550 closed

[2017-03-28 08:14] Nyholm opened #554 "Make API classes immutable"
API classes should be immutable to avoid any unexpected behavior.

[2017-03-28 08:18] Nyholm opened #555 "Move API classes to Miscellaneous namespace"
Classes like Markdown, Ratelimit etc should be moved to the Miscellaneous namespace. See the full list here: https://developer.github.com/v3/misc/

[2017-03-31 13:23] GrahamCampbell opened #557 "SERIOUS BUG IN NEW VERSION"
Requests are being cached incorrectly, so that API calls to get a users repo are now returning cached results from the wrong user. I am rolling back to the previous version immediately.

[2017-03-31 13:34] acrobat commented on #557
I think the generated cache key is to general. See https://github.com/php-http/cache-plugin/blob/master/src/CachePlugin.php#L290

If the request parameters are included the key will be unique enough I think

Thoughts on this @Nyholm?

[2017-03-31 13:35] GrahamCampbell commented on #557
This is only in the very latest update. No such bug occurred 7 days ago.

[2017-03-31 13:40] acrobat commented on #557
That's because the caching of requests was broken in previous versions. All requests with the private or no-cache directive were skipped by the cache plugin. So no github api request could be cached

You can fix this for now by passing this option to the cache plugin. Example from the docs:

[code]

[2017-03-31 14:02] acrobat commented on #557
@GrahamCampbell Can you provide some example call which fails when using the cache? So I can check how to fix this

[2017-03-31 14:38] Nyholm commented on #557
Thank you for reporting this. I will make a PR.

[2017-04-04 23:19] pavlopx opened #559 "Method * not found in Github\Api\ApiInterface"
I think this is something that should be taken care of :)

Methods `$client->api('organization')->repositories()`, `$client->api('repo')->hooks()` etc can not be recognized by an IDE (in my case `PhpStorm`) because they do not exist in `Github\Api\ApiInterface`.

So autocompletion/navigation is not available and the IDE reports unknown method.

Maybe it would make sense to implement specific metho

[2017-04-05 06:19] acrobat commented on #559
The has defined the [`@method` phpdoc](https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Client.php#L22..L61) for all api's, this way you should get the right autocompletion in your code (this works in phpstorm)

So instead of

[code]

Use this way of calling

[code]

This should fix your problem!

[2017-04-05 11:52] Nyholm commented on #557
I've added #558. Please review it.

We are just waiting for a new tag on the CachePlugin.

[2017-04-05 11:53] GrahamCampbell commented on #557
Also, the current version of this package is throwing a deprecation error, even know I'm not using a deprecated feature?

[2017-04-05 11:54] GrahamCampbell commented on #557
https://github.com/GrahamCampbell/Laravel-GitHub/blob/master/src/GitHubFactory.php#L86

[2017-04-05 11:54] Nyholm commented on #557
From where?

[2017-04-05 11:55] GrahamCampbell commented on #557
It's because you set a deprecated default: https://github.com/php-http/cache-plugin/blob/v1.3.0/src/CachePlugin.php#L336,

[2017-04-05 16:15] pavlopx commented on #559
Oh, nice! Magic methods plus PhpDoc works for me as well :)
Just wonder, is it in documentation? Because as I see examples exploit `$client->api('...')` approach.

Thanks!

[2017-04-05 19:18] acrobat commented on #559
Good point @pavlopx!

What do you think @Nyholm should we update the docs to use the specific api methods instead of the api method?

[2017-04-05 20:12] GrahamCampbell commented on #557
Surely this still won't fix everything. Shouldn't the caching have only been etag based, why on earth would we provide a correct etag, and then fetch the wrong cache response?

[2017-04-07 03:59] DaveBagler opened #560 "What's the best way of calling a full URL you get back from GitHub within this API?"
For example, if you use this API to get a list of Project Cards you receive back the card information and the URL of the issue.

Currently, I'm parsing the URL to get the org/user, repo and issue id and then using these three pieces of information to make a call get the issue using this API to get the issue details.  However, this approach is no recommended by GitHub (https://developer.github.com/

[2017-04-07 06:19] acrobat commented on #560
Hi @DaveBagler

By requesting the httpClient itself you can call any url. See the docs for [`Request any Route`](https://github.com/KnpLabs/php-github-api/blob/master/doc/request_any_route.md)

[2017-04-07 12:00] DaveBagler commented on #560
Oh that's nice and easy. Thanks!

[2017-04-07 12:00] #560 closed

[2017-04-07 15:49] spidgorny opened #561 "Running requests async in parallel"
In order to speed-up data retrieval it would be nice to be able to run several requests in parallel.

I know Guzzle supports it with their ``GuzzleHttp\Pool`` class. I just need a way to create requests without sending them and then send them using the ``Pool`` class.

Please let me know if there's an example or documentation for this.
I've started experimenting with it here: [github-api-async](ht

[2017-04-08 12:49] m1guelpf opened #563 "Organization Memberships API is now official"
Just wanted to drop https://developer.github.com/changes/2017-03-29-official-org-membership/

[2017-04-10 08:09] Nyholm commented on #561
Have a look at the Async feature that some HTTPlug clients have. http://docs.php-http.org/en/latest/components/promise.html#asynchronous-requests

If you are using, say Guzzle6, you may send request asynchronous. It may need some changes to the API client. Would you mind investigate in this?

[2017-04-10 08:28] spidgorny commented on #561
Yes, that's what I need and attempted. I think I've managed to generate a new request with
[code]

Now I want to access the Guzzle client which is used inside ``Github\Client``. Maybe it's impossible (I don't have to) because I can inject Guzzle client into ``Github\Client`` myself? Like here: [customize.md](https://github.com/KnpLabs/php-github-api/blob/master/doc/customize.md).

Am I going in th

[2017-04-10 08:42] Nyholm commented on #561
You can inject a client, yes. But we add lots of plugins at it. For authentication, caching etc.

Sorry for my ignorance about promises, but what is your plan? Sure we can send requests in parallel, but you are interested in the result, right? Maybe create a promise around the calls to the Github Client?

[2017-04-10 08:49] spidgorny commented on #561
Hm, interesting idea. Not sure it will work. Calls like this
[code]
are anyway synchronous. They will not run in parallel even if they are wrapped around in promises, IMHO.

[2017-04-10 08:50] spidgorny commented on #561
So, is there a way to get an instance of the HTTP client used by ``Github\Client`` with all the plugins attached?

[2017-04-10 08:58] Nyholm commented on #561
Yes, You may do

[code]

This will always get you the latest client but it will be a `HttpMethodsClient`, inside it there is a `PluginClient` which supports Async..

[2017-04-10 09:35] spidgorny commented on #561
Injecting my own ``Guzzle\Client`` worked fine. An example can be checked at [spidgorny/github-api-async](https://github.com/spidgorny/github-api-async).
[code]
Running 30 requests with concurrency of 5 works just three times faster (not 5 times faster), somehow.
Thank you for the help.

[2017-04-10 09:35] #561 closed

[2017-04-14 08:12] #557 closed

[2017-04-14 08:25] Nyholm opened #566 "Do not "help" the user by changing parameters"
On 30+ places we have code like this:

[code]

If the user misspelled the `$state` we should not help them. That may cause unpredicted actions. We should throw an exception or let the API call fail.

This is a BC break. I've marked it in milestone 3.0.

[2017-04-20 23:33] trapstats opened #572 "The issue title"
The issue body

[2017-04-21 07:54] Nyholm commented on #572
I believe you are testing the API client.

But I will have to close this issue..

[2017-04-21 07:54] #572 closed

[2017-04-21 10:45] Kyslik commented on #572
And 80 people got notified :D haha

[2017-04-24 14:14] tmulry opened #573 "Documented example is wrong for List all milestones"
https://github.com/KnpLabs/php-github-api/blob/master/doc/issue/milestones.md#list-milestone-labels

This call should end in `->all($owner, $repo)` instead of `->labels($owner, $repo)`

[2017-04-24 14:22] m1guelpf commented on #573
@tmulry Why don't you submit a PR?

[2017-04-24 15:39] tmulry commented on #573
Done, #574

[2017-04-24 17:34] bobeagan commented on #573
I believe this to be a non-issue.  See https://github.com/KnpLabs/php-github-api/pull/574#issuecomment-296758983

[2017-04-24 18:17] #573 closed

[2017-05-08 09:33] Nyholm opened #580 "Add Integrations::configure"
We need a configure method in the Integations API. See https://developer.github.com/early-access/integrations/user-identification-authorization/

[2017-05-08 10:45] m1guelpf commented on #580
@Nyholm So we only need to copy the configure method from other early-access?

[2017-05-08 10:52] Nyholm commented on #580
Pretty much. And then make sure we use `application/vnd.github.machine-man-preview+json`

[2017-05-08 11:01] acrobat commented on #580
I'm ok with adding this method for the integrations api, but if you use the client as an integration is does not make sense to call the configure method but just set the right header in the constructor because you will not mix both api's.

You are using the new integrations api (different authentication method) and only endpoints who are enabled for integrations to use.

But we can add this to be

[2017-05-09 13:42] #580 closed

[2017-05-09 15:48] m1guelpf opened #583 "ComposerCI Beta"
You migth benefy from ComposerCI, a new tool I'm building to get pull requests every time a new dependency update is released. If KnpLabs wants to enter the beta, please [register for the beta](https://composerci.miguelpiedrafita.com?ref=knplabs-phpgithubapi-issue), and I'll be happy to send you an invite. After all, ComposerCI uses this client to provide core features!
Thank you!

[2017-05-09 16:45] GrahamCampbell commented on #583
👎 I don't like the idea of services that update the version constraints to new breaking versions. Updating dependencies yourself is fine as far as I'm concerned.

[2017-05-09 18:26] m1guelpf commented on #583
@GrahamCampbell

Unless you don't notice a new release... Anyway, lots of people like and use [Greenkeper](https://greenkeeper.io), so I believe a composer version would help people... In the final version, I'll try to show release notes & the commit range. The idea is to warn the developer about the new version, so he/she can decide if upgrading is a good option.

[2017-05-09 21:24] GrahamCampbell commented on #583
Yeh, as expected, I hate that too. :P

[2017-05-10 06:14] #583 closed

[2017-05-15 08:56] gibot opened #588 "The issue title"
The issue body

[2017-05-15 08:59] #588 closed

[2017-05-15 15:56] reneoelke commented on #13
%

[2017-05-15 15:56] reneoelke commented on #13
%

[2017-05-15 15:59] reneoelke commented on #13
%

[2017-05-15 16:00] reneoelke commented on #13
%

[2017-05-19 00:43] chrisryan10 commented on #497
Did you ever solve this problem?

[2017-05-19 17:26] GrahamCampbell opened #590 "Native support for the retry plugin"
It is my understanding (from the docs, without looking in much detail at the code), that the retry plugin will need to be registered before the GithubExceptionThrower.

I am looking to retry error 5xx, and 404 responses from GitHub. 5xx, for obvious reasons, and 404, because of race conditions from GitHub where they fire webhooks before data has persisted on their systems, so I need to retry the r

[2017-05-19 17:48] Nyholm commented on #590
No. The other way around. The first plugin is the one that is executing the request first and handling the response last. The RetryPlugin is only taking care of the response and you want it to be as close to the internet/httpclient as possible. You should put it at the end of the chain.

[2017-05-19 19:57] GrahamCampbell commented on #590
The docs look wrong then. :P

[2017-05-22 09:55] Nyholm commented on #590
Which docs? Can you give a link and I'll make sure to update.

[2017-05-22 10:31] m1guelpf opened #591 "Integrations & GraphQL Out of beta"
GitHub just made GitHub Apps (Integrations) & The GraphQL API (GitHub API v4) official.
See #592 & #593.

[2017-05-25 11:41] acrobat commented on #591
Fixed in #593 & #592

[2017-05-25 11:41] #591 closed

[2017-05-31 07:06] acrobat opened #597 "ResultPager fetchall on apps/installations incorrect result"
See https://platform.github.community/t/pagination-differs-in-installations-api/1862

The result is an array with a count field and and subarray of all installations but we merge result when using the fetchAll method

We need to check if this is something we need/can fix in code or if we should add some docs about this issue

[2017-06-01 11:45] acrobat opened #599 "[RFC] HHVM support"
I'm opening the discussion on what we should do with HHVM. A lot of projects are dropping HHVM lately, symfony, twig, swiftmailer, etc... (see https://twitter.com/fabpot/status/865263458903875584) and laravel (https://laravel.com/docs/5.3/upgrade#upgrade-5.3.0)

I'm not really in favor of dropping HHVM but current travis ci does not support HHVM on ubuntu precise anymore

So what should we do abou

[2017-06-01 11:50] Nyholm commented on #599
I think we should drop support only when we have major issues with it. (Like Symfony had)

Currently I think we should just modify our Travis config to run trusty on the hhvm build.

[2017-06-01 11:52] acrobat commented on #599
Ok! I will create a PR for this

[2017-06-01 19:24] #599 closed

[2017-06-08 04:04] bdelbasso commented on #597
FYI I'm using a `CustomResultPager` as a workaround for this problem.

[code]

I see two solutions to address this issue here:

1. Include this class in php-github-api and document when to use it.

2. Modify the existing `ResultPager` to merge differently when the key `totalCount` is present. This would be transparent to the user but more hack-ish.

@acrobat @Nyholm What do you think?

[2017-06-09 22:51] bobeagan opened #602 "Refactor Repo Commits Compare method"
The `compare` method in https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Repository/Commits.php currently accepts a `mediaType` parameter to change the Accept header.  It seems like this should have a `configure()` method that handles this, which would follow the pattern of how it is handled elsewhere in the library.

This would be a breaking-change and should be targeted for t

[2017-06-14 01:08] webhacking opened #604 "How can i access private repo ?"
Now i am trying to `releases` api. but it display `not found`

[2017-06-14 01:09] webhacking commented on #604
My bad. check the [this](https://github.com/KnpLabs/php-github-api/blob/master/doc/security.md) document

[2017-06-14 01:09] #604 closed

[2017-06-19 15:31] GrahamCampbell commented on #590
http://docs.php-http.org/en/latest/plugins/retry.html

[2017-06-26 16:48] Geolim4 opened #610 "CONTRIBUTING.md // CODE_OF_CONDUCT.md // ISSUE_TEMPLATE.md"
Hello Folks,

Do you guys already thinking about setting up those useful files (Especially the ISSUE_TEMPLATE.md) ?
It'll help you to get a better interaction with your community && a better issue workflow.

Cheers,
Georges

[2017-06-26 16:50] Geolim4 commented on #610
The Projects feature would lets you construct a nice public roadmap, just like I [did](https://github.com/PHPSocialNetwork/phpfastcache/projects/1) on my project.

[2017-06-27 16:02] lukepolo commented on #497
I also have been having this problem

[2017-06-29 18:00] jhourlad commented on #559
Thanks. That works on my IDE.
Only problem is that doing this:

`$client->currentUser()->repositories()`

returns "Not foound". Seems like the API endpoint  "/user/repos" is outdated.

[2017-06-29 18:23] jhourlad opened #611 "RequestInterface shows invalid URI"
I'm, always getting the "Not found" error on my api calls. Tried investigating and found this on the $request passed to the RequestInterface::sendRequest() method:

[code]

Seems like the `path` parameter is missing the complete URI for the endpoint.

[2017-06-29 18:26] acrobat commented on #559
@jhourlad

`$client->currentUser()->repositories()` is an endpoint, so you should provide the correct info in the parameters. https://github.com/KnpLabs/php-github-api/blob/30c7d5c01c5be444783d0ab762a015fb7cb4b3d4/lib/Github/Api/CurrentUser.php#L119

[2017-06-29 18:27] acrobat commented on #611
@jhourlad can you show us the code on how you create the client?

[2017-06-29 18:31] jhourlad commented on #611
The code generates the user token:
[code]

The authentication codes I use:
[code]

[2017-06-29 19:01] jhourlad commented on #559
@acrobat
Thank you for the reply.

I'm not providing any parameters at all as the `repositories()` method says all parameters are optional.

[2017-06-29 19:49] acrobat commented on #559
@jhourlad I was indeed wrong about that! But the endpoint works for me, so I think your problem is related to #611

[2017-07-01 15:45] GrahamCampbell commented on #590
Ping @Nyholm.

[2017-07-18 14:12] benoitdelasseaux opened #614 "Compare two branches in a repository"
Hello,

I'm actually using your client for a project and i saw in the github API that we can get informations about comparing two branches.

Does your client support this too? If yes can you tell me how can i get these informations?

[2017-07-18 14:17] Nyholm commented on #614
Hey. That is great. If it is in our docs then we support it for sure.

[2017-07-18 14:45] benoitdelasseaux commented on #614
i don't see this in your docs unless i don't see it.

In this case do you think you will develop it in a next future?

[2017-07-18 14:47] m1guelpf commented on #614
@benoitdelasseaux Coule you link to the api docs page?

[2017-07-18 14:56] benoitdelasseaux commented on #614
yes sure

https://developer.github.com/v3/repos/commits/

And with Postman when I answer the API i get this type of result:

htttpRequest: https://api.github.com/repos/:org/:repo/compare/:branch1...:branch2?access_token=...

Response =>
....
    "status": "diverged",
    "ahead_by": 9,
    "behind_by": 474,
    "total_commits": 9,
...

[2017-07-18 15:03] m1guelpf commented on #614
@benoitdelasseaux Here it is!
https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Repository/Commits.php#L18-L26

[2017-07-18 15:15] benoitdelasseaux commented on #614
Nice!

Sorry for my mistake :)

I'll investigate now.
Thanks for your help

I close this issue

[2017-07-18 15:16] #614 closed

[2017-07-18 16:04] bobeagan opened #615 "Add missing protection methods"
There are many methods missing from https://developer.github.com/v3/repos/branches/ that could be added.  The hierarchy of these API routes could make the `Api/Repository/Protection.php` get a little messy so I'm open to suggestions on whether it makes sense to add everything there or to break it out somehow.

[2017-07-20 06:12] #615 closed

[2017-07-24 15:04] redmice commented on #497
Did you stashed your feature branch before merging?

[2017-07-26 17:11] benoitdelasseaux opened #620 "Pagination for PullRequest"
Hello,

I got actually 30 results only when I fetch the list of Pull Request from a repository.
Code:
[code]
I know i need to implement a system of Pagination with the class ResultPager but I don't find how to use it to list all of closed or open Pull Request (more than 30 results).

Can you tell me where i need to search?

[2017-07-26 21:46] bobeagan opened #621 "Review Requests endpoints under preview"
https://developer.github.com/v3/pulls/review_requests/

- Need to update the `configure()` method to set the `Accept` header
- Should check on why the `all()` method has a `$params`
  - Doesn't appear to be anything in the docs that can be set
- Need to figure out if a short-term, backwards-compatible change should be made to `create()` and `remove()`
  - By adding a `$teamReviewers` parameter and

[2017-08-23 18:38] bobeagan opened #624 "Body not required to create an issue"
https://developer.github.com/v3/issues/#create-an-issue shows that only title is required.

https://github.com/KnpLabs/php-github-api/blob/22319eef7aac8a5c67c66c13626f6f9483d86811/lib/Github/Api/Issue.php#L130-L137

[2017-08-24 08:21] #624 closed

[2017-08-29 21:40] djdavisdt commented on #440
This appears to still be an issue, even with AUTH_HTTP_PASSWORD and Oauth token.

[2017-08-30 06:34] acrobat commented on #440
@djdavisdt can you help and debug this a bit more? As I don't have access to a private repository to test this issue

[2017-09-03 08:01] Daniel15 commented on #597
My workaround is very similar to @bdelbasso's. I instead implemented it as a separate method:

[code]

I think it'd be good to include this functionality in the existing `ResultPager`

[2017-09-08 15:30] inkarasdev opened #626 "Mistake in Issue -> comments docs"
Currently it says that method to update an issue comment is accessed via 'create', that is not correct and results in "Not Found" when used.
Update works fine with ->update() method though.

Wrong: "$client->api('issue')->comments()->create('KnpLabs', 'php-github-api', 33793831, array('body' => 'My updated comment'));"

Correct: "$client->api('issue')->comments()->update('KnpLabs', 'php-github-api

[2017-09-16 15:56] #297 closed

[2017-09-16 15:57] #315 closed

[2017-09-16 15:58] Einenlum commented on #342
Seems this bug was not reported by anyone else. Closing this issue, but feel free to reopen it if the bug is still there.

[2017-09-16 15:58] #342 closed

[2017-09-16 15:59] #354 closed

[2017-09-16 16:00] #375 closed

[2017-09-16 16:01] #378 closed

[2017-09-16 16:03] Einenlum commented on #342
Cf. here: https://github.com/KnpLabs/php-github-api/issues/493

[2017-09-16 16:06] #559 closed

[2017-09-16 21:21] Nyholm commented on #116
Im closing this due to inactivity.

[2017-09-16 21:21] #116 closed

[2017-09-21 14:27] Einenlum commented on #626
Thanks @inkarasdev for your feedback. Could you please do a PR to fix it?

[2017-09-21 14:28] Einenlum commented on #496
Thanks for your feedback @xXXIMMATTHEWXXx . Could you do a PR about it?

[2017-09-21 15:48] xXXIMMATTHEWXXx commented on #496
I would love too. Just may take some time

[2017-09-27 15:36] m1guelpf opened #629 "New release"
Hi!

A recent commit added support for GraphQL variables, and this would be very useful in the project I'm developing.

Could you please tag a new release, so we can pull this change from Composer?

Thank you!

:octocat:

[2017-09-28 14:14] viion commented on #626
This was fixed on 8th August: https://github.com/KnpLabs/php-github-api/commit/09149c710b5f342a438ef967962e348a9664913b#diff-837c3b7365b614d770b4a1f5a0a59e14

[2017-09-28 15:13] Einenlum commented on #626
Oh indeed. Then I think we can just close this issue.

[2017-09-28 15:13] #626 closed

[2017-09-28 18:37] acrobat commented on #629
@Nyholm can I just tag a new release (after updating the changelog)? Or do I need to do something extra?

[2017-09-29 09:00] Nyholm commented on #629
Before I release I do always:
1: Check the diff from last release (https://github.com/KnpLabs/php-github-api/compare/2.5.0...master)
2: Decide if it is a minor or a patch release (minor in this case, right?)
3: Make sure the change log is up to date
4: Make sure the branch alias is at least the same as the version Im going to release. (Note this https://github.com/KnpLabs/php-github-api/pull/609#i

[2017-09-30 19:37] acrobat commented on #629
Thanks @Nyholm for the release checklist! I will tag a new release!

[2017-09-30 20:04] acrobat commented on #629
@m1guelpf I've released 2.6.0! See https://github.com/KnpLabs/php-github-api/releases/tag/2.6.0

[2017-09-30 20:04] #629 closed

[2017-10-03 20:09] vijaycs85 opened #633 "Rename php-http/client-implementation to php-http/client-common"
Looks like, it has been renamed: https://github.com/php-http/client-common

[2017-10-03 20:12] vijaycs85 commented on #633
Found duplicate issue. https://github.com/KnpLabs/php-github-api/issues/506

[2017-10-03 20:12] #633 closed

[2017-10-14 16:13] jacobtruman opened #636 "Client setEnterpriseUrl method is private"
The documentation for using the Enterprise API (https://github.com/KnpLabs/php-github-api/blob/master/doc/enterprise.md) says you can set the enterprise URL like this:

$client->setEnterpriseUrl('https://ghe.host');

This fails because the method is private:

https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Client.php#L331

[2017-10-14 16:14] jacobtruman opened #637 "Search pagination"
There does not seem to be the ability to access the pagination of search results.

[2017-10-14 20:53] acrobat commented on #637
Can you provide some code which does not work as expected? This makes it a bit easier to replicate and test the buggy behavior. Thanks!

[2017-10-14 23:01] jacobtruman commented on #637
For example, from the documentation, searching code for a string:

$files = $client->api('search')->code('@todo language:php');

This will return an array with three sub arrays; one is items and another is a total number of items found. By default, the number of items returned is 30. If the total number of items found is more than 30, there is no way to get the rest of them.

[2017-10-16 21:48] jacobtruman commented on #637
The pull request class supports this:

https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/PullRequest.php#L61-L69

[2017-10-22 11:39] GrahamCampbell commented on #320
👍

[2017-10-24 00:27] Geolim4 commented on #610
Need help on this ?

[2017-10-24 09:19] acrobat commented on #610
You can always send us a pullrequest so we can discuss the actual changes there! But I think I can say we are open to these additions!

[2017-10-24 13:53] mkoske opened #638 "API for getting repository topics?"
Is it possible to get all repository [topics](https://developer.github.com/v3/repos/#list-all-topics-for-a-repository)?

[2017-10-25 06:03] m1guelpf commented on #638
@mkoske I think the only possible way to do this is using GraphQL...

[2017-10-25 06:30] acrobat commented on #638
Github has an api endpoint for this but it's still in preview mode. See https://developer.github.com/v3/repos/#list-all-topics-for-a-repository

We don't currently have support for this endpoint but feel free to submit a PR for this! Or you can call that endpoint manually [like this](https://github.com/KnpLabs/php-github-api/blob/13003af4d8f5abf8e55a8ad38a4eea4dfed5a513/doc/request_any_route.md)

[2017-11-01 11:26] josefbarrera opened #642 "Minor typo in documentation for Repo / Protection API"
The documentation to [update a branch's protection](https://github.com/KnpLabs/php-github-api/blob/master/doc/repo/protection.md#update-branch-protection) has a minor typo; the method to be called should be **update** and not **show**

[2017-11-01 11:33] josefbarrera commented on #642
PR created https://github.com/KnpLabs/php-github-api/pull/643

[2017-11-09 19:42] acrobat commented on #636
This is indeed an issue with the docs as the enterprise url should be passed to the [client constructor](https://github.com/KnpLabs/php-github-api/blob/ccf4ed77c869b99461ac18f768c2b6c08c585ea1/lib/Github/Client.php#L122)

So if you can please open a PR to fix the specific docs. Thanks!

[2017-11-22 03:54] acidaniel commented on #620
Somebody has found a solution for this? I have the same issue here.

[2017-11-23 01:02] acidaniel commented on #351
I've implemented it in this way and it works:
[code]

[2017-12-02 01:15] Anand-Moghe commented on #305
I am also having some trouble with using JWT token.
The actual workflow for how to use the JWT is depicted [here](https://developer.github.com/apps/building-integrations/setting-up-and-registering-oauth-apps/about-authorization-options-for-oauth-apps/)

So anyway, my understanding is one has to first get the Access Token before even trying to do authenticate:

[code]

There is no way using this li

[2017-12-04 05:57] AdamMiltonBarker opened #652 "Commit / push"
Hi guys cannot seem to find the docs for committing and pushing, could you share the link please.

[2017-12-04 11:01] acrobat commented on #652
@AdamMiltonBarker can you provide a link to the github api docs for the missing feature?

[2017-12-04 11:32] AdamMiltonBarker commented on #652
Yep, going off the following article, the first link is required also:

http://patrick-mckinley.com/tech/github-api-commit.html

https://developer.github.com/v3/repos/commits/
https://developer.github.com/v3/git/commits/

Was just wondering if it was already in place.

[2017-12-04 11:45] acrobat commented on #652
As far as I can see we have support for these endpoints:

- Repo commits:
  - Code: https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Repository/Commits.php
  - Docs: https://github.com/KnpLabs/php-github-api/blob/master/doc/commits.md
- Gitdata commtis:
  - Code: https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/GitData/Commits.php
  - Docs: https://github.co

[2017-12-04 12:12] AdamMiltonBarker commented on #652
Cool will check it out, thanks.

[2017-12-04 12:27] #652 closed

[2017-12-04 14:37] AdamMiltonBarker commented on #652
Hi @acrobat  regarding this, which functionality allows us to get the reference of the last commit per the docs:

https://developer.github.com/v3/repos/commits/#get-the-sha-1-of-a-commit-reference

[2017-12-04 14:45] AdamMiltonBarker commented on #652
Also there does not appear to be functionality for trees:

https://developer.github.com/v3/git/trees/

[2017-12-04 16:04] AdamMiltonBarker commented on #652
Hi @acrobat any suggestions on where I could find these features, have checked through and am unable to find.

[2017-12-04 16:17] acrobat commented on #652
Git tree:
Code: https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/GitData/Trees.php
Docs: https://github.com/KnpLabs/php-github-api/blob/master/doc/gitdata/trees.md

For the get sha I've have to look, I couldn't find one for now, but it could be a missing feature

[2017-12-04 16:24] AdamMiltonBarker commented on #652
OK thanks for the help, would it be possible to reopen this until its found ?

[2017-12-11 14:30] Nyholm opened #662 "Prepare a new minor release."
We should prepare a change log and create a new release

[2017-12-11 14:42] acrobat commented on #662
I will try to do one today/tomorrow!

[2017-12-11 15:44] Nyholm commented on #662
Awesome. I'll do some review as well. Probably tonight

[2017-12-12 19:14] Nyholm commented on #662
I'll start with this now

[2017-12-12 19:43] acrobat commented on #662
Ok thanks, I didn't have the time yet do start on it

[2017-12-12 19:58] acrobat commented on #638
Fixed in #657

[2017-12-12 19:58] #638 closed

[2017-12-12 19:59] acrobat commented on #636
Fixed in #649

[2017-12-12 19:59] #636 closed

[2017-12-13 11:14] acrobat commented on #662
[2.7.0 was released](https://github.com/KnpLabs/php-github-api/releases/tag/2.7.0)

[2017-12-13 11:14] #662 closed

[2017-12-17 08:37] justinriddiough commented on #637
I'm experiencing this with
$githubClient->api('user')->subscriptions('username');

[2017-12-28 17:18] josephmancuso commented on #477
yeah why isn't this in the docs? took me a long time to figure out that the code is:

[code]

this took me a long time to figure out while looking through the docs. I think it should be in the doc/repos.md somewhere as that's the logical place to look for public and private repos retrieval. I believe the docs are broken up by api type so even just a note in those docs to look at the currentUser do

[2017-12-28 17:46] acrobat commented on #477
Please open a PR with any improvements you've found necessary, this is the only way this project can improve! Thank!

[2017-12-28 17:48] josephmancuso commented on #477
ok will do. thanks

[2017-12-29 23:19] phili67 opened #668 "The issue title"
The issue body

[2017-12-29 23:22] #668 closed

[2017-12-29 23:24] phili67 opened #669 "The issue title"
The issue body

[2017-12-29 23:25] #669 closed

[2018-01-03 15:29] manuelgrabowski opened #670 "Unable to use with PHP5.6"
Hi there, php-http/guzzle6-adapter is required in 1.1, which is pulling in symfony/options-resolver v4.0.2 which already requires PHP7.1+ – hopefully I'm doing something wrong, but to me it seems that it's currently not possible to use this library with anything below PHP7.1. (We're trying with 5.6.30 right now.)

[2018-01-03 15:36] acrobat commented on #670
Can you provide the composer file you are using.

[2018-01-03 22:46] GrahamCampbell commented on #670
It only pulls in that if you are using php 7.1, otherwise it'll pull in an older version so that it works.

[2018-01-04 09:17] manuelgrabowski commented on #670
Thanks for the quick replies, I see what the problem is… I was using PHP7 locally and pushing to production where there's still version 5.6.30. I figured I could mitigate this by specifying it in my `composer.json` before executing the require command.

This is my composer.json:
[code]

This is the error I'm getting:
[code]

[2018-01-04 09:19] xabbuh commented on #670
Your issue seems to be that the OptionsResolver component is already installed in a version that does not work with PHP 5. You should update your existing dependencies first to be compatible with PHP 5.6 before adding new.

[2018-01-04 09:33] manuelgrabowski commented on #670
Wow, you are fast. I deleted my composer.lock and./vendor folder, and indeed the require-command ran fine. I just deployed that to production and it works like a charm! Thanks a lot for providing me with basic steps for composer unrelated to the actual project, and sorry for the incorrect issue!

[2018-01-04 09:33] #670 closed

[2018-01-04 20:57] Kyslik commented on #670
@manuelgrabowski also take a look at the chart at the bottom of [php/supported-versions](http://php.net/supported-versions.php) page

[2018-01-08 11:45] acrobat commented on #477
Fixed in #671

[2018-01-08 11:45] #477 closed

[2018-01-15 23:53] acidaniel opened #674 "Closed Pull Requests pagination"
Hi, Im trying to have a list of closed Pull requests, if I implement something like:

[code]
I will have results limited to 30 results. I'm trying to implement pagination with no luck.

I've tried several ways, but seems nothing in the documentation helps. Could you point me to the right direction?

what I've tried is something like:

[code]
I did something similar for the contributors and that on

[2018-01-26 10:15] dereuromark opened #675 "Events: limitation of per page"
You added
[code]
But this way you cannot set a "per page" config.

Instead this should be done IMO:
[code]

That overcomes the default limit of 30 which is currently hardcoded in your code (unless I overlooked something).

[2018-01-26 16:56] imcbride opened #676 "Accept header not set for Project API requests"
I've been trying to use the API to create cards in projects, but the preview accept header does not appear to be sent with the request, so Github rejects it. I created a sample project:

[code]

But when I run the project, I get this response:

[code]

I have also tried to manually add the accept header when building the client [using the example here](https://github.com/KnpLabs/php-github-api/blo

[2018-02-16 05:59] Moon-Hub opened #680 "Change Accept Header"
Like Issue #507 , working with the code-search, i want to change my accept header to the text-match header `application/vnd.github.v3.text-match+json`

Following along from the example in 507, my code:
[code]

But, i'm greeted with: `Fatal error: Uncaught Error: Class 'GuzzleClient' not found`
So, what's wrong here?

[2018-02-16 08:08] acrobat commented on #680
`GuzzleClient` is not an existing class but as alias. Add this to your uses `use Http\Adapter\Guzzle6\Client as GuzzleClient;`

We should also update the docs so the correct example code is used.

[2018-02-16 08:12] Moon-Hub commented on #680
Funny, i was just about to post that i got my text-match to show but there was an issue with the builder, the `use Http\Adapter\Guzzle6\Client as GuzzleClient` has fixed it completely!

[2018-02-16 08:12] #680 closed

[2018-02-16 08:15] acrobat commented on #680
I've fixed the docs in #679

[2018-02-17 02:33] Moon-Hub opened #682 "Obscure API Connection Support"
Hear me out, the app i'm building needs a connection to a more "obscure" api string - which i've easily done with just a regular curl request.

However, does this library support such things? For example searching for code
`$code = $client->api('search')->code('exec language:php');` then making each item in the array `= $item` Now, inside each $item is `$item['text_matches'][$i]['object_url'];`

`

[2018-02-17 20:45] Anand-Moghe opened #683 "Provide documentation on how to initiate client for accessing pubic repo URL"
What I am trying to do is to change the repository path and name at run time in my application and then fetch its content. I need the same code to work for both enterprise repos and public repos (also private repos but it appears that it is not currently supported).

So I understand that one can use repo url in the client class constructor:

`
$myClient = new \Github\Client(null, $apiVersion, $api

[2018-02-17 22:28] Anand-Moghe commented on #683
Figured out that the URL schema is same for enterprise repo (whether it is private or not).

[2018-02-17 22:28] #683 closed

[2018-03-05 00:24] GrahamCampbell opened #685 "Repo API Broken in master"
`$paginator->fetchAll($client->me(), 'repositories', ['all'])` will throw:

`Github\Exception\RuntimeException`: If you specify visibility or affiliation, you cannot specify type.

[2018-03-05 00:31] GrahamCampbell commented on #685
This must have been broken somewhere between: https://github.com/KnpLabs/php-github-api/compare/2.7.0...b716e03f9cd6d259599891806a210290eecd565a.

[2018-03-05 08:03] acrobat commented on #685
Hmm good catch. We can fix this by making the default value of the new parameters `null` and add some extra code in the method to unset the `type` value if visibility or affiliation is set?

What do you think @GrahamCampbell @hotmeteor?

[2018-03-06 13:49] imcbride commented on #676
Thank you for pointing me in the right direction. For anyone who comes across this issue later, the `configure()` function should be called on either the `columns()` or `cards()` call, before the action. So the correct version of my example above would be:

`$card = $client->api('org_projects')->columns()->cards()->configure()->create($column, array('note' => $note));`

[2018-03-08 15:35] Mariusz08 opened #690 "List all pr"
How do I list all pull requests using api? Thanks.

[2018-03-08 15:42] Nyholm commented on #690
Hey.
Not sure, what does the documentation say?

[2018-03-08 18:48] Mariusz08 commented on #690
Sure. And how do I check id of pr?

[2018-03-08 21:07] Nyholm commented on #690
It seams like you prefer me telling you then actually read the documentation yourself.

[2018-03-09 16:54] acrobat commented on #690
Hi @Mariusz08,

In the GitHub repository we only discuss bugs and new features. For this kind of questions please dig into the docs of this library or the official github api docs. Here are some links to get you started!

[Php github api - list all pullrequests](https://github.com/KnpLabs/php-github-api/blob/master/doc/pull_requests.md#list-all-pull-requests-per-repository) and [Official github ap

[2018-03-09 16:54] #690 closed

[2018-03-09 19:58] Mariusz08 opened #691 "Reviews method error"
When I use method reviews(), php print error: "Uncaught Error: Call to undefined method Github\Api\PullRequest::reviews() in...". How do I fix it? Thanks.

[2018-03-13 08:20] acrobat commented on #691
@Mariusz08 Please check the documentation about the [pullrequest reviews api](https://github.com/KnpLabs/php-github-api/blob/master/doc/pull_request/reviews.md). The methods of the api classes are not static so you can't call them like `Github\Api\PullRequest::reviews()`

[2018-03-13 08:20] #691 closed

[2018-03-18 15:45] polevaultweb commented on #620
Check out https://github.com/KnpLabs/php-github-api/blob/master/doc/result_pager.md#usage-examples

[2018-03-23 14:29] #685 closed

[2018-03-26 11:11] acrobat commented on #682
@Moon-Hub I think you can do that with this part of the docs: https://github.com/KnpLabs/php-github-api/blob/f17c158af84f9b3c7279e5ca9dc4329d69e6d3ed/doc/request_any_route.md

[2018-03-30 18:17] svenluijten commented on #674
Unsure at the moment, but it looks like this is an issue on GitHub's side. I've noticed some endpoint _not_ actually returning a `Link` header, preventing this package from getting the `next` and `previous` URLs to fetch for pagination.

For instance, this is also happening on `/user/repos`. I've [contacted GitHub about this](https://twitter.com/svenluijten/status/979781867296747520).

[2018-03-30 18:18] svenluijten commented on #620
@polevaultweb is this actually working for you? Because from what I can see, the response we get back from GitHub doesn't always contain the `Link` header that is used by this package to build the pagination.

If you have a working implementation I'd love to see it 🙂

[2018-03-30 19:39] acrobat commented on #674
Keep us updated @svenluijten!

[2018-04-03 19:39] polevaultweb commented on #620
@svenluijten I've been using the following to get all repositories for a GitHub App installation:

[code]

[2018-04-13 06:13] dafow opened #705 "Search API Pagination ignoring parameters"
This one is concerning the Search API, in which the `per_page`and `page`parameters are ignored when used with the ResultPager:

[code]

Always returns 30 items of the 1st page. Am I misusing the API ?
I do notice that the Search API `repositories`function consists of
[code]
so it might makes sense that it doesn't work. Is it actually an issue or are users expected to call the ResultPager with the

[2018-04-13 10:06] vickygillsf commented on #506
This worked  for me, after I added `"php-http/guzzle6-adapter"`

[2018-04-16 05:17] rishiraaz opened #706 "Giving a custom git URL (organizational URL)"
Is there any way I can define  custom git url, needed as org url is different.

[2018-04-19 13:03] TiMESPLiNTER opened #707 "download a file which is symlinked"
Is it somehow possible to download a file to which a symlink points to?

When I try to download it, I get the following exception:

Which is basically true. But I couldn't find any method within this lib which could resolve me the symlink to the real path.

[2018-04-21 15:28] BenjaminHoegh opened #709 "Subfolders & Files doesn't update"
When trying to look into a folder there contain a subfolder and a file, only the file are showed.

#### Example at GitHub:

- readme.md
- folder
  - test.md
  - subfolder
    - test2.md

#### API result

- readme.md
- folder
  - test.md

I then tried to create some files too, also in the root, they are vanished too.

this also happens when using the URL e.g api.github.com/repos/KnpLabs/php-github-

[2018-04-23 05:59] acrobat commented on #707
This doesn't seem to be an issue for the github api: https://developer.github.com/v3/repos/contents/#response-if-content-is-a-symlink

Can you provide some example code (and maybe a test repo with a symlink) so we can check if the library has a bug in this behavior or not?

[2018-04-23 06:00] acrobat commented on #709
Can you provide some example code and repository to check against? The library itself won't delay the display of changes, unless you cache the result. Maybe you can contact github support to ask about this specific case

[2018-04-23 13:29] Lewiscowles1986 opened #712 "Library in library use-case."
It looks like if I include this in a library I have to specify a require fulfilling the psr plug for HTTP. there is a library `psr/http-message` that would avoid this, so that if someone wrapped this library in their library, the application could still send through it's own HTTP, and that library wouldn't need to bind to a plug.

[2018-04-23 15:55] danieldevsquad opened #713 "Repository Invitations"
https://developer.github.com/v3/repos/invitations/

[2018-04-24 12:55] TiMESPLiNTER commented on #707
@acrobat  The problem is in this line of code:

https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Repository/Contents.php#L279

as `type` has the value `symlink` in the case of a symlink and not `file`. I'll do PR.

[2018-05-01 20:49] onassar commented on #15
@m4tthumphrey what was the solution to this? Going through it now.

[2018-05-01 21:07] onassar opened #714 "v1.7.0 example for accessing a user / Bad credentials"
Getting `Bad credentials` when trying this basic request:
[code]
The `id` and `secret` are those in my OAuth app. Do I have to go through an OAuth flow if I'm just doing basic lookups? This page doesn't list authentication as a requirement:
https://github.com/KnpLabs/php-github-api/blob/fe913715d280cc0a5f78a5366c02ad78c0305c66/doc/users.md

Appreciate any guidance you can provide.

[2018-05-09 15:03] #682 closed

[2018-05-10 10:50] mnapoli commented on #506
I stumbled upon the same problem when trying to install the library. Maybe this library could include a default implementation? This is not really practical as a user because this package is not installable without digging in to understand what this abstraction is about.

[2018-06-12 22:32] ClicShopping opened #715 "Search inside repository"
It's not an issue but I could be interesting to make an example how search inside a repository
for example you have a repositori call AddOnsMyApplication, inside you have a direcory callled analytics, another called products
AddOnsMyApplication
    --- analytics
    ---- products

To have information about AddOnsMyApplication, is t'ok
$client->api('repo')->find('AddOnsMyApplication');

but to sear

[2018-06-20 22:45] bobeagan opened #716 "Pagination for preview endpoints"
I have some code like below but it appears to be dropping the `Accept` header for the preview of projects endpoint when trying to paginate.  Is there some other way that I should be running configure to make that work?

[code]

[2018-06-24 20:20] bret-2600 opened #717 "How can I find the number of lines changed for a commit?"
Is there a way to find the number of lines changed for a commit for a particular project?  Thanks!

[2018-06-24 20:28] bret-2600 commented on #717
Nevermind!  I figured it out.  I had to retrieve the individual commits using code such as $commit = $client->api('repo')->commits()->show([organization], [repo], $sha);

[2018-06-24 20:30] Nyholm commented on #717
Thank you for coming back with the answer.

[2018-06-24 20:30] #717 closed

[2018-07-03 18:11] bobeagan commented on #716
Anyone else seeing the same problem or know of a work around?  Did this project get abandoned?

[2018-07-15 14:29] Bizarrus opened #719 "How to access installation by id?"
I've tried to create an GitHub App. The Webhook URL is `https://example.com/update/`; When i start to change a file, GitHub will call the Webhook correctly.

On the JSON response, the `installation->id` are presented. How i can access the repository with this ID?

I want following handling:

- Create/Update/Delete a file
- Commit
- GitHub calls the Webhook
- The Webhook use the installation id
- T

[2018-07-15 15:12] Bizarrus commented on #719
When i try to get the actual archive, the script will breaks without exceptions:

[code]

With `try/catch` no exceptions given. `tarball` or `zipball` won't work.

[2018-07-19 00:13] bobeagan commented on #716
@acrobat ?

[2018-07-19 01:23] Nyholm commented on #716
Hey. It is not abandoned. I read most of the issues and PRs and I know @acrobat is doing a great job being more active then me.

I've done some reading. I cannot see why it drops the `Accept` header. Could you debug the `AcceptTrait::get` (https://github.com/KnpLabs/php-github-api/blob/345991969e84f92a424cdcc94737d55564ae1c28/lib/Github/Api/AcceptHeaderTrait.php#L16) and also see what is happening

[2018-07-22 09:16] GrahamCampbell opened #720 "2.9.0 Release"
Is a 2.9.0 release coming soon please? Please let me know if there's anything I can help with. :)

[2018-07-22 11:05] acrobat commented on #720
@GrahamCampbell I will try to tag the 2.9.0 this week! I think no extra work is needed, just the changelog that needs an update for the changes in this release!

[2018-07-22 11:07] acrobat commented on #716
@bobeagan Sorry for the late reply! It would be indeed usefull if you could do some debugging in the `AcceptTrait`.

After that we can look further into the issue or create some reproducer. Thanks!

[2018-07-22 11:10] acrobat commented on #713
PR #704 can be used as a starting point if we (or someone from the community) wants to implement this.

[2018-07-22 11:12] acrobat commented on #709
I'm going to close this issue for now as it looks like it's no issue of the php lib but more of caching/delay on github's side. Maybe you can request some more info through github support.

If this would be related to this library, please leave a comment so we can reopen the issue!

[2018-07-22 11:12] #709 closed

[2018-07-22 11:13] GrahamCampbell commented on #720
Perfect. :)

[2018-07-22 11:13] acrobat commented on #707
Ok, thanks @TiMESPLiNTER! Please let us know if you need help with the PR.

[2018-07-29 20:42] GrahamCampbell commented on #720
🍻

[2018-08-15 19:39] stvnyung opened #726 "Feature: Support Events API"
Hello !

I'm working on a project requiring **GitHub Events API**:
https://developer.github.com/v3/activity/events/

Is this a feature that can be included in the scope of this package ?

There is currently the Issue Events API implemented but not the rest.

I'm ready to work on this if needed but I will need some clue on where to start.

Thank you!

[2018-08-16 05:12] AronNovak commented on #716
I have exactly the same problem with this snippet:
[code]

What results in:
[code]

[2018-08-17 16:08] acrobat commented on #726
Hi @stvnyung

It looks like we're indeed missing support for those api endpoints. It would be nice if you want to work on this! Just open a pr for an event type you've implemented so we can review/comment on the changes. Thanks!

I will tag this issue as an feature-request so if you don't have the time to work on this, anyone else can pick it up.

[2018-08-18 13:02] oitsuki opened #727 "Bug on OptionsResolver php 7.2.8"
PHP Parse error:  syntax error, unexpected '?', expecting variable (T_VARIABLE) in /var/..................................../vendor/symfony/options-resolver/OptionsResolver.php on line 980

[2018-08-18 13:11] oitsuki opened #728 "Search pb with api('search')->repositories function"
for example, if you write something like this and you search inside a specific Organizations a term like boxes (specific term allowing to find something just inside a specific Organizations).
It research also in other Organizations and you can reach the limit very quickly  (there is just 5 ou 6 repositories inside the organization with the same term).

example : nothing  to see with the term boxe

[2018-08-18 23:09] oitsuki commented on #727
yes completly, I will look about the cli

[2018-08-18 23:12] oitsuki commented on #728
Simple I am searching a word like  modules_account_customers. I must have all the modules with this name inside but I have other thing like 50 gulp-browserify-babeljs for example.I don' tunderstand exactly why it research other word !

[2018-08-24 21:59] Geolim4 commented on #610
The PR has been delivered as request, let's discuss about it on the [PR page](https://github.com/KnpLabs/php-github-api/pull/730) :)

[2018-08-25 13:37] antoniotajuelo commented on #716
It works perfect! Thank you!

[2018-08-28 20:52] Geolim4 commented on #610
@acrobat @Nyholm bump :)

[2018-08-31 05:27] acrobat commented on #610
@Geolim4 I will try to review this in the weekend!

[2018-08-31 16:43] bobeagan commented on #716
Thanks @AronNovak ! I'm just getting back from vacation and catching up on things and was pleasantly surprised to find your workaround.

[2018-09-03 12:16] Geolim4 commented on #610
You forgot me ? :P

[2018-09-04 20:59] kytrinyx opened #737 "Heads up: Stricter validation coming soon on add issue assignee endpoint"
Hi 👋 ,

I an engineer on the API team at GitHub. A colleague and I are currently going through GitHub's REST API, tightening up validations.

We noticed that a fair number of requests from this library to the [Add issue assignee](https://developer.github.com/v3/issues/assignees/#add-assignees-to-an-issue) endpoint that are passing a single assignee as a string, rather than as an array with one str

[2018-09-04 21:31] Nyholm commented on #737
Excellent. Thank you.

Is anyone willing to do a PR? We should be quick with the review, merge and release.

[2018-09-05 06:55] acrobat commented on #737
Hi @kytrinyx,

Thanks for the heads up! Like @Nyholm already said, if some provides a PR we can have it released fairly quick. Otherwise I will try to look into fixing this.

[2018-09-05 18:16] acrobat commented on #737
I've provided a PR to convert the parameter to an array if the user didn't do it. See #738

@Nyholm we can remove this conversion and implement an exception when we fix issue #566

[2018-09-05 19:14] acrobat commented on #737
A fix is released in [2.10.1](https://github.com/KnpLabs/php-github-api/releases/tag/2.10.1)

[2018-09-05 19:14] #737 closed

[2018-09-05 19:14] Nyholm commented on #737
You are the best. Thank you for your work!

[2018-09-06 09:59] robbieaverill commented on #706
What do you mean exactly? I've used this repository quite recently for organisation based repositories, and the documentation also provides examples which are organisation based.

[2018-09-06 10:11] robbieaverill commented on #727
Assuming you're using symfony/options-resolver v4.1.1, this is the method signature: https://github.com/symfony/options-resolver/blob/v4.1.1/OptionsResolver.php#L980

The question mark signifies a nullable scalar type hint, and was introduced in PHP 7.1.

@acrobat's suggestion that you're running something lower than PHP 7.1 in the environment where that error is generated is highly likely to be t

[2018-09-11 10:38] stof opened #741 "Utility to validate webhook signatures"
I'm not sure this should actually be implemented in this repo, as it is different from other use cases, but maintainers might still decide it fits this repository.

When implementing github webhooks, it is possible to secure them (to reject any fake requests sent to the webhook from elsewhere than Github).

Github sends a signature header in each webhook request. Their documentation shows the Ruby

[2018-09-11 10:43] stof commented on #741
Actually, looking at how this gets implemented, it might be easy enough to be left outside this package (choice is up to maintainers):

[code]

[2018-09-11 17:58] acrobat commented on #741
I actually like the idea! I had to implement (copy the code after the first time) the same check a few times. So I think a utility class for this check can easily be added and help developers in the future. The code I created in the past

[code]

So i'm 👍 on including it here in a small helper class. Any thoughts @Nyholm?

[2018-09-12 10:36] acrobat commented on #727
I'm closing this issue as it will be related to the php installation instead of the library itself. Please leave a comment if it would be related to this library.

[2018-09-12 10:36] #727 closed

[2018-09-12 10:38] acrobat commented on #716
What's the status here? Do we need a fix in the library itself?

[2018-09-12 12:54] stof commented on #741
@acrobat your solution lets the input control the hashing algo, with no validation of the provided value. That's exactly how *all* JWT implementation out there (in all languages) faced a security issue allowing to bypass the signature check (as they could control the algo used to validate it).
Github says they always use sha1. So until they migrate to a different algo, it is much safer to accept o

[2018-09-12 12:55] stof commented on #741
and for the throwing, I would not make it part of the validation logic, as it makes it harder in case they want a different behavior for this case.

[2018-09-12 12:57] m1guelpf commented on #741
@stof Then just catch the exception

[2018-09-12 13:04] acrobat commented on #741
Hmm 🤔 you are indeed right, thanks for pointing that out!

Can you start a PR for it @stof? So we can discuss further changes there (like throwing an exception or not), thanks!

[2018-09-12 13:30] m1guelpf commented on #741
yeah, that's true, it doesn't fit in the current structure... 🤔

[2018-09-12 14:02] stof commented on #741
Note that when I opened the initial issue, I hadn't looked for the implementation of computing the signature yet. I was fearing it would require using the openssl APIs (which are easy to misuse). But the fact that it is just `hash_hmac('sha1', $requestBody, $secret)` makes it dead easy.

[2018-09-12 14:03] acrobat commented on #741
@stof Maybe just a docs entry with a minimul code example is better then?

[2018-09-13 15:51] husseinmirzaki opened #742 "Building a ui for this repo"
Is it a good idea to build a ui for this library?
[here is the repo](https://github.com/husseinmirzaki/hosting-git-helper)

[2018-09-13 18:18] husseinmirzaki commented on #726
This may require routing packages can we use them ? or it should be written with out any third party packages ?

[2018-09-13 20:13] robbieaverill commented on #742
Wow, that's pretty cool @husseinmirzaki!

I think things like that should stay decoupled though, the majority of people using this library would be as an SDK and wouldn't want/need a UI for it probably.

[2018-09-14 01:46] husseinmirzaki commented on #742
aha thanks

[2018-09-14 01:46] #742 closed

[2018-09-14 01:49] husseinmirzaki opened #743 "Get Archive link"
How can we avoid the server from downloading and make the user download the requested archive ?
Don't we need a link ? But what we get is the content of the archive right ?
What i mean is how to avoid following the header "Location" ?
I can add a `nofolow` variable to the `__construct` and avoid adding no follow plugin then I could manually call the api and get link the from `Location` header but

[2018-09-14 04:30] husseinmirzaki commented on #743
Sorry, Its solved

[2018-09-14 04:30] #743 closed

[2018-09-16 18:47] carlosbuenosvinos commented on #675
Hi @dereuromark! Thanks for the opening this issue. Here are my comments:

30 events is a hardcore value because GitHub defines it like this in its documentation. You can take a look at: https://developer.github.com/v3/activity/events/

So, IMHO I think this is not an issue. Maybe it could be improved in the inline documentation.

[2018-09-16 18:59] dereuromark commented on #675
They are setting a **default**. My point was to add a way to allow changing the default.
So yeah, this is an issue.
An additional param could work, or using an array config.
See my provided example above.

Up to 200 is possible, if you read their API.

[2018-09-17 14:10] husseinmirzaki opened #745 "Is having one object for every thing that is returned by github a good idea ?"
In [irazasyed/telegram-bot-sdk](https://github.com/irazasyed/telegram-bot-sdk) library if you go to [this directory](https://github.com/irazasyed/telegram-bot-sdk/tree/master/src/Objects) you will see a bunch of objects which, each of them are related to a specific response of telegram bot API now GitHub is the same....So could we do the same ? will it be merged if we started to do it ? or is it a

[2018-09-17 15:35] m1guelpf commented on #745
It's a good idea, but not this library's work IMO. I'm actually working on something like this, but with Eloquent models: https://github.com/snaptier/github-whisper

[2018-09-19 06:49] acrobat commented on #745
It's indeed a good idea but not in the scope of this library. You have for example [lp-digital/github-event-parser](https://github.com/Lp-digital/github-event-parser), to convert the github event json's to objects. So it could easily be created in a separate library.

[2018-09-20 13:09] dereuromark opened #746 "has_project missing"
https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/Api/Repo.php#L193
[code]
is missing the documented `has_projects`, which unfortunately defaults to true (we need false)

See https://developer.github.com/v3/repos/#create

PS: best to not add so many arguments in the first place. It is cleaner to use an attributes array :)
Also for order here not to matter. Currently, it is painful t

[2018-09-21 07:50] stvnyung commented on #726
hello @husseinmirzaki

what exactly do you mean by routing package? and why do you think you will need one?

[2018-09-22 18:53] husseinmirzaki commented on #745
aha, thanks

[2018-09-22 18:53] #745 closed

[2018-09-22 18:54] husseinmirzaki commented on #726
hi @stvnyung
didn't know enough about events ?!

[2018-09-24 12:42] stvnyung commented on #726
I'm not sure to understand but I'm not the person in charge.

Feel free to open a PR.

[2018-10-02 17:08] davemg3 opened #748 "Merge and Fork list features in library"
Hello,
I want to use your lib to build some statistics on some repositories but
The fork list feature while present in https://developer.github.com/v3/repos/forks/ but doesnt see to be in library.
Is it a feature needed to be implemented?

(also Can you confirm how to call next page with lib when doing `$this->github->repo()->commits()->all('GrahamCampbell','Laravel-GitHub',[])`;
as I only manage

[2018-10-05 16:59] bobeagan commented on #716
I believe so but I haven't had a chance to drill into specifically where the loss of the header value is occurring.

[2018-10-05 19:57] acrobat commented on #748
There is already support available for the repository forks api in [repo/forks](https://github.com/KnpLabs/php-github-api/blob/e54725e08eb806011ffb22b592e1a9b60233b4f9/lib/Github/Api/Repository/Forks.php)

It's best to check the available documentation on [result pagers](https://github.com/KnpLabs/php-github-api/blob/e54725e08eb806011ffb22b592e1a9b60233b4f9/doc/result_pager.md)

[2018-10-05 19:57] #748 closed

[2018-10-06 22:20] dereuromark opened #749 "Support new check runs"
I currently implemented this for us, since the former statuses kind of don't work anymore since 1st of October (deprecated).
[code]

Would be nice if this repo ships with native support for the new API.

[2018-10-07 07:39] acrobat commented on #749
I'm tagging this as a feature-request. Feel free to create a PR for it or otherwise I will pick it up when I find some time!

[2018-10-07 20:15] ultrono commented on #506
Lifesaver!

[2018-10-08 10:42] davemg3 opened #750 "contributors method doesnt have 'page' parameter"
Hello,
In Github doc, it specified we can set a page and per_page parameter
but function as contributors()  lacks an array parameter for this purpose, so only 1st page is returned
[code]

Same thing for methods as `user()->repositories`,  `repo()->activity()` or `repo()->frequency()`

Is there a reason not to have implemented this array argument for such methods?

[2018-10-13 19:19] acrobat commented on #707
@TiMESPLiNTER I've provided a fix in #751. Can you test if this solves your problem? Thanks!

[2018-10-13 20:56] acrobat commented on #746
I've created a pr #752 to add the missing parameter. You're indeed right that it's not good how the current method signature looks but I've kept it for now. We will do a refactor when we start working on v3 (as this kind of change will also be applied to other parts of the code)

[2018-10-13 21:11] #746 closed

[2018-10-14 12:34] #707 closed

[2018-10-15 07:46] Lewiscowles1986 commented on #712
I'm sorry Acrobat, no idea what or why I was asking. I think you might be pulling in a PSR-7 lib like guzzle and depending on that rather than depending upon the interfaces package, but it's been a minute hasn't it. Feel free to close.

[2018-10-23 11:07] afbora opened #756 ""php-http/client-implementation" no matching package found"
[code]
I got following errors with above composer requires:

    - knplabs/github-api 2.11.x-dev requires php-http/client-implementation ^1.0 -> no matching package found.
    - knplabs/github-api 2.10.1 requires php-http/client-implementation ^1.0 -> no matching package found.
    - Installation request for knplabs/github-api ^2.10.1 -> satisfiable by knplabs/github-api[2.10.1, 2.11.x-dev].

I ch

[2018-10-23 11:18] afbora commented on #756
[code]
Working with that!

[2018-10-23 16:59] GrahamCampbell commented on #756
Yeh, you also need install a package that "implements" `php-http/client-implementation`. It is a virtual package, like the psr log implementation virtual package. Check the install section of the readme for the details: https://github.com/KnpLabs/php-github-api#install.

[2018-10-31 06:53] cavo789 opened #757 "cURL error 77: error setting certificate verify locations: CAfile"
Good morning all,

Using `php-github-api` first on my localhost, I was facing this error: `Fatal error: Uncaught GuzzleHttp\Exception\RequestException: cURL error 77: error setting certificate verify locations: CAfile`.

The solution is given in the Guzzle repository: https://github.com/guzzle/guzzle/issues/1935#issuecomment-371756738

Hope this can helps someone else.

And thank you KNP Labs for

[2018-10-31 06:53] #757 closed

[2018-12-13 11:07] dereuromark opened #760 "Better output on exceptions"
$response->getReasonPhrase() should be included in GithubExceptionThrower
[code]
for example just outputs

    Problems parsing JSON

But in fact the reason phrase contains the details: `reasonPhrase: "Bad Request"`
So this should be part of the debugging data IMO.

E.g. as details in brackets:

    Problems parsing JSON (Bad Request)

This way I know that this not about the response content, but

[2018-12-15 01:55] mikebronner opened #761 "Documentation of `->api("apps")->removeRepository()` Incorrect"
The documentation of `->api("apps")->removeRepository()` as shown here (https://github.com/KnpLabs/php-github-api/blob/master/doc/apps.md) seems to be incorrect. This code () seems to require 2 arguments, but the documentation shows only one.

When I try to execute the method with two arguments `$installationId` and `$respositoryId` I get the following error:

[code]

I am authenticating as my Git

[2018-12-15 20:02] acrobat commented on #756
Yes indeed, you need to require a specific implementation (driver). [Here is a list of the available adapters](https://packagist.org/providers/php-http/client-implementation) "implementing" the virtual package.

[2018-12-15 20:02] #756 closed

[2019-01-01 13:41] janmyszkier opened #766 "install readme section no longer correct"
Running
`composer require knplabs/github-api php-http/guzzle6-adapter`

Will no longer correctly install the package.

[code]

[2019-01-01 17:40] acrobat commented on #766
Hi @janmyszkier,

Thanks for reporting this issue, I've created #767 to correct the broken installation instruction!

[2019-01-01 17:46] #766 closed

[2019-01-11 17:17] baohx2000 commented on #743
@husseinmirzaki  How did you solve this?

[2019-01-16 12:09] robot110011 opened #768 "Is there a way to add a issue to a personal project?"
I have projects (user, not organization) and use the issues automation from projects but I want to automate from my code as well , creating issues and assign to a specific project. Is that possible?

I tried both

`$card = $client->api('org_projects')->columns()->cards()->configure()->create($column, array('note' => $note));`

and

`$card = $client->api('repo')->projects()->columns()->cards()->con

[2019-01-27 21:30] GrahamCampbell opened #770 "2.11.0 Release"
Is a 2.11.0 tag coming soon please?

[2019-01-28 08:31] acrobat commented on #770
@GrahamCampbell I will go throught the open pr's and try to make a new release today/tomorrow!

[2019-01-28 19:34] acrobat commented on #770
@GrahamCampbell I've pushed a new release! See https://github.com/KnpLabs/php-github-api/releases/tag/2.11.0

[2019-01-28 19:34] #770 closed

[2019-01-28 19:38] GrahamCampbell commented on #770
Perfect. :)

[2019-01-28 23:06] m1guelpf opened #772 "A common interface for interacting with Git providers (RFC)"
In case you don't know me, I'm a maintainer of the most popular [PHP GitLab API client](https://github.com/m4tthumphrey/php-gitlab-api). I've also contributed a few times to this repo and built some apps that use this library.

Right now, all this, Gitlab's and BitBucket's PHP clients have the same structure (using HTTPug) and, while all platforms have their own set of functionalities, most of the

[2019-01-29 10:18] GrahamCampbell commented on #772
All the APIs are kinda different tbh.

[2019-01-29 12:37] GrahamCampbell commented on #772
The domain objects don't even match up. For example, in GitLab, projects belong to users or groups, and then repos belong to projects. GitHub and Bitbucket have no concept of projects, only repos, users, and teams/organizations.

The API for merging a PR is quite different, and that for commit status. Listing the users repos is very different too. In GitLab and GitHub, you can ask for a list of re

[2019-01-29 13:36] makasim opened #773 "Describe request\response models as objects"
Right now, the API methods send and return plain arrays.

This approach is simple but has some disadvantages:

* Hard to tell what fields an array  might have
* There is no autocomplete for available methods and properties.
* Could not be used as a type hint in user code.

I propose to introduce such models as array wrappers. [formapro/telegram-bot](https://github.com/formapro/telegram-bot-php)  i

[2019-01-29 14:43] OskarStark commented on #773
cc @Soulivaneuh

[2019-01-29 18:15] makasim commented on #773
more in PR https://github.com/KnpLabs/php-github-api/pull/774

[2019-01-29 18:15] #773 closed

[2019-01-31 14:42] Tjoosten opened #775 "Error on authenticating"
Hi I've experienced an issue over the authentication on github trough the api.

**Error:**

[code]

**code**

[code]

Is this package related or is the fault on my end?

Kind Regards,
Tim

[2019-02-03 05:06] ftrotter commented on #440
Hey, now that github allows for free private repos, would it be possible to clearly document how to authenticate using this library?

![screen shot 2019-02-02 at 11 03 05 pm](https://user-images.githubusercontent.com/83133/52172890-c484bd80-273e-11e9-9302-93c4a7bdd2f0.png)

There are three approved mechanisms to authenticate with the github API. Seen here as well as the url to access them.

It wou

[2019-02-03 05:34] ftrotter commented on #440
For those looking here.. this is what I eventually got to work ising the "Personal access tokens" method:

[code]

After than, things started working.

[2019-02-05 01:04] sidedwards opened #776 "Get Archive Link"
# Issue getting archive link
Is [`contents()->archive()`](https://github.com/KnpLabs/php-github-api/blob/master/doc/repo/contents.md#get-repository-archive) not a wrapper for [Get Archive Link](https://developer.github.com/v3/repos/contents/#get-archive-link)?

Reference to: https://github.com/KnpLabs/php-github-api/issues/743

## Code
[code]

## Response
It looks like I'm getting a serialized res

[2019-02-10 08:40] mattgrayisok commented on #775
This is caused by an issue in guzzle6-adapter which was fixed here:

https://github.com/php-http/guzzle6-adapter/commit/594cd47fb9af5c217f0e63c4e8f7602da88a368a

The fix was released in v1.1.1 however the install instructions for php-github-api define v1.1 explicitly.

Instead of `composer require knplabs/github-api php-http/guzzle6-adapter "^1.1"` use `composer require knplabs/github-api php-http

[2019-02-10 17:19] acrobat commented on #775
Thanks for the feedback @mattgrayisok! Our readme correctly states the `^1.1` constraint for the guzzle6-adapter so I'm closing this issue, but your comment can help others having this issue and searching our issue tracker!

[2019-02-10 17:19] #775 closed

[2019-02-10 17:46] acrobat commented on #772
I would be a cool idea indeed but I think it would be possible at all as the api's of github, gitlab and bitbucket are quite different. So it would be really hard to define a common interface and still support all features of each api.

Thanks for the idea @m1guelpf but I'm closing this issue as it is not really possible imo. If anyone has different idea's of this or more info feel free to leave a

[2019-02-10 17:46] #772 closed

[2019-02-20 22:57] gearoidc opened #778 "Not Found error when creating issue"
I am getting a Not Found error when trying to create an issue on a Public repo I have using credentials from oAUTH app I have setup and also an application I created. I can list the repo and query issues, just not create them.

[code]

I am however able to create issues using a Personal Access Token using beefed up admin privileges.
[code]

Reckon I am not setting some access level or something or

[2019-04-01 00:20] Avneetkaurr opened #783 "PhP sticky forms"
I am trying to make a code using the sticky forms with php. can someone help me what I am doing wrong since my code is not working properly.

<!DOCTYPE html PUBLIC "-//W3C//DTD SHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1-transitional.dtd">
<html xmls="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>The Coffee House</title>
	<style type="text/css" media="screen">

[2019-04-09 15:44] Manu-sh opened #784 "Setting cache expiration manually"
I need to set a longer cache expiration time, I'm using _RedisCachePool_ how can this be done? _edit_: I don't need this feature anymore, because i have simply added a second level of cache on which I have full control.

[2019-04-14 07:50] #784 closed

[2019-04-14 22:56] pqt opened #785 "Issues (Labels) API doesn't support updating a label description"
It only passes through the name and color even though adding a new label has support for descriptions (with the right header)

[2019-04-16 12:25] christiancozzolino opened #787 "Existence of a user"
Hi, how can I check the existence of a user?
I tried using this:

$user = $client->api('user')->show('usernameToSearch');

If the user exists, I don't find any problems; if the user does not exist, I get this:

Fatal error: Uncaught Github\Exception\RuntimeException: Not Found in C:\xampp\htdocs\github\vendor\knplabs\github-api\lib\Github\HttpClient\Plugin\GithubExceptionThrower.php:98 Stack trace

[2019-04-16 15:15] christiancozzolino commented on #787
I solved this:

try
{
    $user = $client->api('user')->show('usernameToSearch');
}
catch (\RuntimeException $e)
{
    print 'User does not exist';
}

is it right for you?

[2019-04-17 06:31] acrobat commented on #787
@christiancozzolino The runtime exception is a general exception, so it could also be thrown when other errors occur. But depending on the use case this might help you out.

[2019-04-17 06:31] #787 closed

[2019-04-22 10:10] sordev opened #789 "Wrong method call"
$client->user() and $client->users() calls $api = new Api\User($this);
when
$client->me(),current_user(),currentUser() calls $api = new Api\CurrentUser($this);

Api\User->keys() requires user name and returns array can't create keys
 Api\CurrentUser->keys() won't need username and return Object will be able to create keys

File: https://github.com/KnpLabs/php-github-api/blob/master/doc/currentuser

[2019-04-23 16:02] christiancozzolino opened #790 "Upload a folder/file"
Hi, how can I upload
1) a folder
2) a file

to my GitHub account, using the API?
Please, can you show me the code for 1) and 2)?
Thanks in advance :)

[2019-04-23 20:23] acrobat commented on #749
Addad in #788

[2019-04-23 20:23] #749 closed

[2019-04-24 09:29] acrobat commented on #790
Hi @christiancozzolino,

The [https://developer.github.com/v3/repos/contents/#create-a-file](https://developer.github.com/v3/repos/contents/#create-a-file) endpoint will let you upload/create files through the github api.

https://github.com/KnpLabs/php-github-api/blob/8c26dc85f732cc6b426bd85af4cf18bdfcdb20ff/lib/Github/Api/Repository/Contents.php#L100-L121

The actual implementation you will have

[2019-04-24 09:29] #790 closed

[2019-04-24 09:33] acrobat commented on #789
Thanks for reporting the docs issue @sordev. If you have the time, please send a PR to correct this docs issue.

[2019-04-24 09:37] christiancozzolino commented on #790
Do I need Blob and Tree to accomplish my purpose? Or is the "create" function sufficient?
I don't understand what Blob and Tree are and what they are for.

My goal is to upload a project (then files and folders).

[2019-04-24 09:51] sordev opened #791 "Webhook documentation"
There is actually webhook working through

Like below. But there is no documentation found.  https://github.com/KnpLabs/php-github-api/tree/master/doc

Please add full documentation for this.

$client = self::auth($this->repo_connection);

$create_hook = $client->api('repo')->hooks()->create($repo->owner, $repo->name, $params);

$hooks = $client->api('repo')->hooks()->all($repo->owner, $repo->name

[2019-04-28 16:45] christiancozzolino opened #793 "Create a folder in a repository"
Hi, is it possible to create a folder in a repository?

[2019-04-28 17:54] acrobat commented on #793
@christiancozzolino This issue tracker is used to report issues with the api. I recommend platforms like stackoverflow to get support for implementation details.

But to get you going the [create file endpoint](https://developer.github.com/v3/repos/contents/#create-a-file) is a good start. Git doesn't track empty folders so you could create a new file (.gitkeep) in the new folder you want.

[2019-04-28 17:54] #793 closed

[2019-04-28 17:56] acrobat commented on #791
@sordev Thanks for reporting this docs issue. Please if you have the time open a PR to provide the missing documentation, we are happy to have it merged! Thanks!

[2019-04-28 18:07] christiancozzolino commented on #793
I know how to create a file, but how can I create it in the new folder I want, if the new folder I want doesn't exist?

[2019-04-28 18:27] acrobat commented on #778
Does the oAuth app ask for `repo` permissions? I'm closing this issue as it's not related to this lib itself, so maybe you can contact github support or ask your question on the [github community](https://github.community/) forums.

[2019-04-28 18:27] #778 closed

[2019-04-28 18:29] acrobat commented on #783
This issue doesn't seem to be related to this library. I suggest asking you question on stackoverflow or the [github community forums](https://github.community/) if it is related to the github api.

[2019-04-28 18:29] #783 closed

[2019-05-10 16:21] bastian-schur opened #794 "Usage: user create key"
Hi,
i've a problem with the keys api. I want to create a ssh key for a user.

When i use this code, i get an 404 error:
[code]
Also the code i've found in the documentation ( https://github.com/KnpLabs/php-github-api/blob/master/doc/currentuser/publickeys.md ) doesn't work.

Anyone an idea?

[2019-05-13 22:49] anil3a commented on #506
Still using this to fix it, Thanks.

[2019-05-15 08:03] GrahamCampbell commented on #506
There isn't an error though. This package intentionally does not mandate which http package you must use?

[2019-05-21 07:43] DivineOmega opened #795 "User migrations API"
Does this library support the [User migrations API](https://developer.github.com/v3/migrations/users/)?

I can not seem to find any documentation related to it.

[2019-05-21 08:08] acrobat commented on #795
Hi @DivineOmega, we don't have support the the migrations api yet! Feel free to open a PR to add the necessary endpoints, I will tag this as a feature request so we know this needs some work!

[2019-06-04 07:02] arall opened #796 "Vulnerability Alerts API"
I think this API is missing: https://developer.github.com/v3/repos/#enable-vulnerability-alerts

Would be cool to implement it.

[2019-06-04 09:23] acrobat commented on #796
Hi @arall,

Thanks for the request! Feel free to open a PR to implement this api endpoint, otherwise I will try to add it when I have time. I'm marking this issue as a feature request!